[2021-02-28 10:27] Ernst79 commented on #296
Ah, sorry, it didn’t see that a different person responded. Please check my previous post. Let me know if the sensor that is causing the error is in your config (check the MAC address) with the modified code and please double check the encryption key. I understand that the sensor works fine, but I need to understand what is wrong to fix it.

[2021-02-28 12:21] djgragra commented on #296
I change le code  in __init__.py as you suggested and I have the 3 LYWSD03MMC sensors that generate the error.
This morning I recovered the binkey again but the problem remains even though they are actually working fine and reporting temperature, humidity and battery.
To connect the sensors I use two esp32 m5stick-c via esphome. The firmware of the sensors is original, to recover the bindkey I use

[2021-02-28 13:16] Ernst79 commented on #296
You say you connect to these sensors with ESPhome. So, I guess you have connected these sensors to the ESPHome integration, and not to BLE monitor (which is a different integration). To explain the difference, ESPHome connects via the Bluetooth of the esp32 devices, BLE monitor uses the bluetooth of the machine HA is running on (e.g. Raspberry Pi).

Can you check if there is an encryption key in t

[2021-02-28 14:09] djgragra commented on #296
The only settings menu I have is the one in the attached image.

I'm probably doing something wrong, using esphome there is no need to unsare
Passive BLE monitor?
![Schermata 2021-02-28 alle 15 04 16](https://user-images.githubusercontent.com/65872226/109421274-ed87e300-79d6-11eb-9ed7-e6398e170080.png)

[2021-02-28 14:15] Ernst79 commented on #296
You can check by clicking on devices in the bottom. This will open a pulldown menu, where you can select your device when clicking submit, it will open a new window.. If you only use ESPhome to get the readings from all your sensors, there is no need to use BLE monitor. But some people use both, to extend the range.

I think I will move the error message to debug level in a next update, so it won’

[2021-02-28 15:25] IronButterfly opened #297 "Invalid data: Xdata length invalid"
After one of the latest component updates, I see the following error in the HomeAssistant log:

[code]
Could you please let me know how this can be fixed?

[2021-02-28 16:00] Ernst79 commented on #297
If your sensor works fine, there is no need to fix anything. It means that the sensor has received a message with invalid data length. In the next update, this message will be moved to debug level, which means you won’t see it anymore.

[2021-02-28 16:10] Ernst79 commented on #297
Fixed in 1.1.4

[2021-02-28 16:10] #297 closed

[2021-02-28 16:10] Ernst79 commented on #296
Fixed in 1.1.4

[2021-02-28 16:10] #296 closed

[2021-02-28 17:37] perseus177 commented on #233
@Ernst79
After update to 1.1.3

Logger: custom_components.ble_monitor
Source: custom_components/ble_monitor/__init__.py:676
Integration: Passive BLE monitor (documentation)
First occurred: 12:28:26 (129 occurrences)
Last logged: 18:03:41

    Invalid data: Invalid index
    Invalid data: Invalid MAC address

[2021-02-28 17:41] Ernst79 commented on #233
Please update to 1.1.4. This is solved in 1.1.4.

[2021-02-28 18:02] Ernst79 commented on #223
@quarcko I started to look into your request. First, I wanted to check what extra information I could get if I use active scan. But I don't see messages that seem to contain battery data. The only message I see is one that contains the name.

`043e1902010400f34f6b8d7cc40d0c09466c6f7765722063617265b5`

Position | 00 | 01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10
-- | -- | -- | -- | -- | -- | --

[2021-02-28 19:57] Ernst79 commented on #225
I had a better look at this issue. Aioblescan uses [socket](https://docs.python.org/3/library/socket.html) to communicate with the Bluetooth adapter. It uses AF_BLUETOOTH, which allows to use Bluetooth communication directly in python3

aioblescan uses BTPROTO_HCI. We might be able to add one of the other options as well.

[2021-02-28 21:13] Ernst79 commented on #225
I just read that the docker container has to use `network_mode: host`, to use Bluetooth. Could you check if your container has this?

[2021-03-02 13:27] perseus177 commented on #233
@Ernst79  updated to 1.1.4

I dont know if this is new bug or still the same

Logger: homeassistant
Source: custom_components/ble_monitor/__init__.py:703
First occurred: 12:36:55 (1 occurrences)
Last logged: 12:36:55
Error doing job: Fatal error: protocol.data_received() call failed.

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/asyncio/selector_events.py", line 862, in _rea

[2021-03-02 14:28] perseus177 commented on #282
I tried today but nothing in logs

[2021-03-02 14:48] quarcko commented on #223
@Ernst79

I never scanned the devices myself at such low-level,
but native Home Assistant integration with active scanning
and https://github.com/quarcko/plantgateway (that i am currently using)

Are able to get from plant sensor:
Moisture, Battery, Light, Conductivity, Temeprature.

Maybe look into plantgateway how it's done there?

[2021-03-02 15:14] Ernst79 commented on #223
Thanks, from what I understand, it's not just using enabling active scan (e.g. once every hour), but also sending the MAC and a request which data you actually want. I have to check if this is possible with `aioblescan`, which we currently use to do the Bluetooth parsing.

[2021-03-02 20:35] Ernst79 commented on #233
I added the same fix (skip if the message doesn't have the correct length) for most messages. Is added in 1.2.0-beta.

[2021-03-02 20:38] Ernst79 commented on #250
As a start, I added the version number to manifest.json (starting from 1.2.0-beta). This seem to become mandatory in the future, see https://developers.home-assistant.io/blog/2021/01/29/custom-integration-changes/#versions . Personally, I hope this information will be displayed somewhere in HA in the future (can't find it at this moment), as it seems to become a requirement.

[2021-03-03 15:36] vevsvevs commented on #175
@Ernst79 @Magalex2x14, eagerly waiting for this too ;)

[2021-03-03 20:25] #233 closed

[2021-03-04 20:46] #250 closed

[2021-03-05 18:42] mpikosdimitris opened #299 "Not able to modify options or add the integration in HA 2021.3"
Hello and thanks for you excellent work.
I have a problem with the selection of HCI interface. On Passive BLE Monitor options menu, i can't select any of the interfaces 0,1,2 and always showing the nymbers 0,1,2 without any change of my options. I've tried to reinstall the addon form HACS, to clear the cash of my browser, tried different browser, tried from the HA app in my mobile device. Nothing.

[2021-03-05 19:04] Ernst79 commented on #299
To start with your last question, you can see your discovered devices by clicking on Devices at the bottom (see your printscreen, last option below Restore State. After clicking Submit, it will open a new window with options for that specific device.

Regarding your first issue, let me check on my end, one moment please.

[2021-03-05 19:18] mpikosdimitris commented on #299
I select interface 0 then i select the device, pessing 'Submit' and i get the same error. If you see, the interfaces 0, 1, 2 seems like are always selected, but yesterday while i was changing my selections the interface that i select was only showing in the HCI Interface.
(Sorry for my english)

[2021-03-05 19:28] Ernst79 commented on #299
Yes, I see the same behavior. I will investigate it.

[2021-03-05 20:24] mpikosdimitris commented on #299
I'm in 2021.3.0 with the same behavior. Can i find somewhere the data of my discovered devices to change something ? In my case, i want to add the encryption key in one of my devices.

[2021-03-05 20:28] Ernst79 commented on #299
I explained above, you can change it here

![image](https://user-images.githubusercontent.com/24375847/110169772-78167b00-7df9-11eb-9c3c-04af14e8769b.png).

A pull down menu will open, click on submit and a new windows will open.

But I think it won't work in your case, because of the errors with the form.

Still looking into it, I have to find out what changed in HA 2021.3.x

[2021-03-05 20:32] mpikosdimitris commented on #299
Yes i know, i configured my other sensors with that way. Just asking if there is another way to configure it.
Thanks again for your support.

[2021-03-05 20:37] Ernst79 commented on #299
I'm afraid the only way is in YAML at the moment. Or downgrading to 2021.2.3.

I need some time to find out what is changed. I don't see a breaking change that could have caused this.

[2021-03-06 11:24] Ernst79 commented on #299
OK, I narrowed it down to the `devices` option, which is causing the issue. If I remove the `devices` option from the config flow (the menu in the screenshot, it all works fine.

[2021-03-06 17:43] latel commented on #289
I've got contact with ceo of yeelight, he told me ths device use mi ble encryption protocol

[2021-03-07 16:37] SPEC1AL1ST commented on #299
Same error

[2021-03-07 18:16] Toukite commented on #295
Hi,
So I did the upgrade again + root access to use the hcitool command (so now I know that the one I want to use is indeed hci0), and then I changed ble config to use only hci0
I just did it but for now I don't see any issue, all devices seem to update fine

[2021-03-07 18:36] Ernst79 commented on #295
Ok, thanks for reporting back. I'll close the issue, if it isn't working in the future or the errors return, just reopen this issue again and we will look further.

[2021-03-07 19:51] ilkanaev commented on #299
i have the same isue.
at the first stage the only way to add new device is by selecting all the HCS interfaces.
once added. no any option to add more. update or delete already added.
i tryed to get back to the older version - did not help.

[2021-03-07 20:06] Ernst79 commented on #299
Workaround to change options is selecting HCI 0 and 1, next select only 0 (assuming you use hci0), change the option you want to change and click submit.

I’m still looking into it, unfortunately I don’t have a clue what is wrong. It looks like an issue with the config validation of either the hci field and/or the devices field. @Magalex2x14 @koying could you help me solving this issue, I’m starti

[2021-03-08 02:12] optikkore commented on #18
if you use home assistant i pull battery from miflora integration and use the passive ble for the other 4 sensors since that seems to update better and save battery
sensor:
  - platform: miflora
    mac: 'XX:XX:XX:XX:XX:XX'
    name: miflora
    force_update: false
    scan_interval: 3600 #battery level every hour
    monitored_conditions:
      - battery

[2021-03-08 10:35] TwinsenLiang commented on #299
same to me。

[2021-03-08 13:14] Ernst79 commented on #299
I finally found the error. In the end, it was an easy fix, when you know what to look for :-). The issue was in the HCI field, after changing the config validation from a dictionary to a list, it all starts to work again.

Please update to 1.3.0-beta to check. Please report back if it works for you, I would like to release the final a.s.a.p. after confirmation that it works.

[2021-03-08 14:14] TwinsenLiang commented on #299
yeah，fix it。thank u

[2021-03-08 14:28] #299 closed

[2021-03-08 14:36] Ernst79 commented on #299
Thx. Final version 1.3.0 is released.

[2021-03-08 15:24] ilkanaev commented on #299
works fine for me.
thank you very much for fix !

[2021-03-08 17:42] nvvasilev commented on #3
Hi @Ernst79,

Awesome work on the component.
I was wondering if it is possible for any of the supported alarm clocks to broadcast the alarm time when it is set, or to regularly broadcast all configured alarm times? This way automations will be able to be created based on the times reported by the alarm clock (e.g. turn on the lights 1-2 mins before the alarm goes off or dim up the lights from 0 to

[2021-03-08 18:00] Ernst79 commented on #3
It depends on if it sends a message with this info, but I think in theory it should be possible. What you need to do is to make a HCI dump, while setting the alarm in the clock in the app, and a HCIdump when the alarm goes off. Use the following command.

`sudo hcidump --raw hci > dump.txt`

Please open a new issue and upload this info, and I will check if it contains useful data. Please also repo

[2021-03-08 18:05] nvvasilev commented on #3
Ah sorry, I don't have such a device.. I am considering buying it, but wanted to see if this is possible first.

[2021-03-08 18:06] Ernst79 commented on #223
Another user mentioned the following solution.

[code]

[2021-03-08 18:11] Ernst79 commented on #3
Ah, ok. I don’t have it either, so can’t give you the answer. Maybe someone else?

[2021-03-08 18:51] mpikosdimitris commented on #299
Just upgraded it ! Thank you very much !

[2021-03-08 19:03] Toukite commented on #295
Spoke too soon .. system is up since 23 hours and was running fine until 4 hours ago where all my bluetooth sensors stopped updating and I see the error in the logs again...
Before that upgrade of yesterday, everything ran for a week without issues on 5.11
Should I rollback again ?

[2021-03-08 19:07] Ernst79 commented on #295
Going back is not a solution for the long term. Do you have other components that use Bluetooth?

[2021-03-08 19:15] Toukite commented on #295
No I only have a bunch of xiaomi mija temp sensors (round one) that use bluetooth, everything else is zigbee/zwave/wifi
Pb is that my heating system decides what to do based upon those temp sensors ... So it's more than just a confort issue, I can't leave it like that

[2021-03-08 19:24] Ernst79 commented on #295
I meant other components in HA, like the Bluetooth tracker component.

What you could try is checking if it works with build in Bluetooth for a couple of days (unplug the dongle). If that works, it might be a malfunctioning dongle. Also check if there are firmware updates for the dongle.

[2021-03-08 19:31] Toukite commented on #295
I don't know how to test that bt tracker component :(
I don't think it's the dongle as it has been perfectly working for months (and it is still working if I downgrade the OS)
If nothing can be found here then I think the best course would be to downgrade again and as you said open an issue on os github !

[2021-03-08 19:34] Ernst79 commented on #295
Yes, I guess so. I’m running out of ideas, sorry.

[2021-03-09 12:16] Toukite commented on #295
I created https://github.com/home-assistant/operating-system/issues/1264 in case you want to add details or follow the issue !

[2021-03-09 13:56] Ernst79 commented on #3
I've done the integration of CGD1 myself at the time, based on the HCIdumps from @andrewjswan and @Kal42 . I remember @andrewjswan did ask for this as well, but I think we forgot to look into this further, after finishing the other sensors.

May be @andrewjswan is willing to make some HCIdumps while setting the time and when the alarm fires, to check if BLE message are send with this information.

[2021-03-09 15:27] andrewjswan commented on #3
@Ernst79 I don't know how to do it, I have HassOS on my Raspberry PI and I can't reboot it often. :)

[2021-03-09 16:18] andrewjswan commented on #3
Oh, it's complicated enough, I'm not sure I can do it anytime soon, but if I have some free time I'll give it a try. :)

[2021-03-10 14:26] pvojnisek commented on #295
I have the same issue.
Supervised HA is running on a Samsung NP300 notebook, debian buster.
Everything is working like a charm after a reboot. Some hours later I got the same error message. A no data will come ever from the sensors.

[2021-03-10 18:28] insof opened #301 "Bluetooth: hci0: advertising data len corrected"
have
debian with installed Home Assistant 2021.3.3
installed HACS
installed ble_monitor 1.3.0
updated to last versions

bluetooth ORICO BTA-508 (RTL8761B)

one of devices, that doesnt need token - works (Viomi V-SK152)
other - CGDK2 - Qingping Temp & RH Monitor Lite - i can detect it, got MAC, insert bindToken as in instructions, and got this
![image](https://user-images.githubusercontent.com/2552

[2021-03-10 19:35] Ernst79 commented on #301
Could you post the debug log from Home Assistant, starting right after a HA restart, for the first 2 minutes?

Also remove the rounding option from your configuration and set active scan to False.

[2021-03-10 19:43] insof commented on #301
![image](https://user-images.githubusercontent.com/25526617/110687277-00759100-81e9-11eb-9e3a-5b70c6a1a383.png)

`2021-03-10 21:41:09 WARNING (MainThread) [homeassistant.loader] You are using a custom integration hacs which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2021-03-10 21:41:09 WAR

[2021-03-10 19:59] Ernst79 commented on #301
Did you add it to MiHome? If so, you can use Xiaomi cloud token extractor to get the correct key.

[2021-03-11 07:23] insof commented on #301
yes, i add it to MiHome to get this tokens(data)
will try today and write here.
thanks!

[2021-03-11 07:36] Ernst79 commented on #301
I think it is just a matter of bad reception. For a test, place the sensor close to your HA machine (raspberry?). If you use an SSD, make sure it is as far away as possible from the bluetooth radio. SSD drives are know to interfere with/block Bluetooth.

[2021-03-11 07:53] insof commented on #301
sensor is in 25-30 cm from bluetooth reciever - will take it closer
its not raspberry, its regular old pc, with USB Bluetooth reciever
no SSD in it, regular HDD 2.5"

[2021-03-11 09:19] insof commented on #301
moving sensor closer didnt help
here is the file
[dump.txt](https://github.com/custom-components/ble_monitor/files/6121823/dump.txt)

[2021-03-11 09:36] Ernst79 commented on #301
Thanks, I found an issue in the data format of the messages, I have to look into this a bit further, will do that tonight. Might be related to the advertings data len corrected messages you showed. I'll come back to you a.s.a.p.

[2021-03-11 09:38] insof commented on #301
thanks!
i was fighting with it for few weeks, feeling myself totally dumb))

[2021-03-11 15:27] rjh169 opened #302 "CGDK2 only updates every 11/12 minutes"
Newbie to both Pi 4 and Home Assistant.

I am using HA 2021.3.3 and Passive BLE monitor 1.3.0 on a Pi 4b
I have successfully added 4 CGDK2’s and obtain humidity and temperature values.
My problem is that they each individually update at roughly 11 / 12 minute intervals.
This interval is consistent irrespective of distance, cm’s or metres from the Pi.
The same devices are updating correctly with th

[2021-03-11 15:43] Ernst79 commented on #302
I think you can just add CGH1, should not be a problem.

The CGDK2 issue might be related to #301 Let me first try to find out what's wrong there, it might solve your issue as well.

could you tell me what kind of bluetooth adapter you have, build-in or external dongle?

[2021-03-11 15:51] rjh169 commented on #302
It is built in to the Pi 4.
I read #301 and I thought it could be the same problem.

----- Original Message -----
From: Ernst Klamer ***@***.***>
Reply-To: custom-components/ble_monitor
***@***.***>
To: custom-components/ble_monitor ***@***.***>
Cc: rjh169 ***@***.***>, Author ***@***.***>
Sent: 11/03/2021 15:43:34
Subject: Re: [custom-components/ble_monitor] CGDK2 only updates every 11/12
minutes

[2021-03-12 07:37] Ernst79 commented on #295
@pvojnisek Did you recently update python? Did you check the possible solution in https://github.com/custom-components/ble_monitor/issues/167#issuecomment-739541674

This wasn't a solution for @Toukite, but it worked for others.

[2021-03-12 13:27] Ernst79 commented on #301
I checked both your dump.txt files. All messages that are send by the sensor do not contain any useful data. All messages from your sensor end with your MAC address (reversed per two) and than only 08. Normally, you would get about 30 numbers behind the MAC address, which contains the data we need.

[code]

I also checked the data len corrected messages, I see these on my system as well. But it st

[2021-03-12 14:20] insof commented on #301
no problem, will do that in a few hours, as far as I will be near sensor.
can it be a problem with Bluetooth driver?
i see that i can detect other devices and collect  correct data from Viomi Kettle, so i think drivers works well.

[2021-03-12 15:58] Ernst79 commented on #301
I see messages coming in, so I don't expect driver issues. Even messages
from your CGDK2 sensor, but they just don't contain (useful) data (only the
MAC and RSSI value).

A HCIdump is just low level data collecting, so it's not related to BLE
monitor or Home Assistant.

That is why I put my bets on the sensor not being coupled to MiHome for
some reason.

Op vr 12 mrt. 2021 om 15:20 schreef insof *

[2021-03-12 18:00] insof commented on #301
I recieve data from it on the phone, maybe phone sends some request?

[2021-03-12 20:07] Ernst79 commented on #295
@Toukite To explain a bit more how ble monitor works. We use a slightly modified version of [aioblescan](https://github.com/frawau/aioblescan) (Python 3/asyncio library to listen for BLE advertized packets) to listen to the Bluetooth packets. The error `Event loop stopped before Future completed.` is generated somewhere in the library. Perhaps the developer @frawau of this library can help us.

I

[2021-03-13 22:44] pvojnisek commented on #295
When the bluetooth is not reachable, you type from terminal:

[code]

[code]

[2021-03-14 09:09] vdemidov commented on #263
I had similar problem. Component worked normally, but after some time and after errors:
Bluetooth: hci0: Received unexpected HCI Event 00000000
dongle go down until physical restart or command sudo hciconfig hci0 up
After install packages:
sudo apt install bluetooth pi-bluetooth bluez blueman bluez-hcidump

It works well. No errors. No problem.

[2021-03-14 09:46] Ernst79 commented on #295
On my working system, is see the two bluetooth radio (internal + dongle).

[code]

So, if it fails, it doesn't show your bluetooth dongle at all?

[2021-03-14 19:45] rjh169 opened #303 "CGH1 reinstall fails"
I am using HA 2021.3.3 and Passive BLE monitor 1.3.0 on a Pi 4b

I successfully added 6 CGH1’s and could see them opening and closing.
Subsequently I obtained new bindkeys for 2 of them using the Mijia modified app.
However I cannot get either of them to reinstall correctly in HA.

I deleted the device and entity as per the github details. Everything looks good. The integration
device and entity c

[2021-03-14 22:02] Ernst79 commented on #303
Normally, there shouldn't be a need to delete the sensor, just applying the new `encryption_key` to the configuration would be good enough. You could try the following

1. If the sensor is added to MiHome, please double check you have the correct key by checking it with [xiaomi cloud token extractor](https://github.com/PiotrMachowski/Xiaomi-cloud-tokens-extractor).
2. If that doesn't work, you mig

[2021-03-15 03:48] frawau commented on #295
Hi,
I am not using HassOS, so I am not sure what your problem is.  If I am not mistaken, you are using the atcmi plugin. If so could you try the library itself, something like

        python3 -m aioblescan -A

Again, I am not familiar with HassOS, so you may need to create a venv and install aioblescan in that environment to avoid conflicts with Hass.

Then again, if your bluetooth radio disappea

[2021-03-15 10:58] insof commented on #301
sorry for delay
new data after sensor reset and readd to mihome:
`Did:  blt.3.1621b6djoek00 Token:  d941c385eb5491f99946d29b Bindkey:  84981e3608a723d799dff4751b0492d9 Mac:  58:2D:34:11:E0:82`

after HASSIO restart got this in dmesg
![image](https://user-images.githubusercontent.com/25526617/111141775-98c69980-858c-11eb-9734-71c9ddbde5b4.png)

here is dump

[dump.txt](https://github.com/custom-com

[2021-03-15 11:37] rjh169 commented on #303
My fault. I somehow got my bindkeys mixed up.
All 6 CGH1's now working correctly.

[2021-03-15 11:37] #303 closed

[2021-03-15 13:56] insof commented on #301
after few hours sensor sends some info, but randomly, as i understand
![image](https://user-images.githubusercontent.com/25526617/111164704-fcf65700-85a6-11eb-8c05-d0893991d036.png)
![image](https://user-images.githubusercontent.com/25526617/111164745-054e9200-85a7-11eb-9b8a-6a677f01ab14.png)

[2021-03-15 21:20] rjh169 commented on #302
I am passing on the following observation in case it may be of use.

I have 4 CGDK2 and 6 CGH1 sensors running in HA.
Sensors that you chose to look at in the Mijia app will always appear
as Unavailable in HA if you restart the HA server with the app still running.

[2021-03-16 14:04] Ernst79 commented on #302
When connected to the app and having the app open, it is most likely in an "active" mode, where the app is requesting data. BLE Monitor only listens in "passive" mode (hence the name Passible BLE monitor). So, the app should be closed, to get messages in Home Assistant.

Strange thing is that it takes 11/12 minutes, while other users haver reported multiple messages per minute.

[2021-03-16 14:19] insof commented on #301
i can try another dongle
but im confused - phone gets the information, when i select sensor on mihome, so - sensor sends data.
i can order another sensor, is there any sensor without encryption you can advise?

[2021-03-16 14:43] Ernst79 commented on #301
I think the phone/app activates the "active mode" of the sensor. Bluetooth has two working modes, active and passive. In active mode, bluetooth sends a request to the sensor and asks for the data. That is probably how your phone/app works. this data is in a different format and can **NOT** be read by BLE Monitor. The sensor also sends data, without "asking" for it. Our components listens to this l

[2021-03-16 15:44] insof commented on #301
understood, thanks
i will try something like changing the dongle and write here

[2021-03-16 19:20] Ernst79 commented on #301
Sure, you can make an automation that triggers e.g. when temperate gets below a certain value. That should not be a problem. The automation can start a script when triggered. That’s the beauty of Home Assistant

[2021-03-17 00:08] ipv89 commented on #3
Is this capable of supporting device NUN4126GL? There is not a lot of info online for this device.

[2021-03-17 06:39] Ernst79 commented on #3
It looks like a LYWSD03MMC. I think we can add support for this device to the code (no guarantees), most likely it uses the Mibeacon protocol. Please follow the [instructions in the FAQ](https://github.com/custom-components/ble_monitor/blob/master/faq.md#my-sensor-from-the-xiaomi-ecosystem-is-not-in-the-list-of-supported-ones-how-to-request-implementation ) to provide the nessecary information, to

[2021-03-17 08:18] insof commented on #301
thanks, today i will recieve new sensor and will try to add it to ble_monitor
hope it would work

[2021-03-17 11:22] rjh169 commented on #302
The only reference I can find to multiple messages per minute is in this discussion.

 https://github.com/atc1441/ATC_MiThermometer/issues/135#issuecomment-752756257  and onwards.

Am I right in thinking that PBLEM would not respond to the unencrypted format.
I am reluctantly starting to believe that the 11/12 minute update is the default behaviour when the device is not paired.
Are you aware of a

[2021-03-17 11:58] zaygraveyard commented on #198
Hello everyone, first of all, thanks for all the amazing contributions done so far

I created a small [repl.it](https://repl.it/@ziadkh0/Decrypt-Xiaomi-btlbind-data-to-get-bindkey) program that takes the `ssecurity`, `_none` and `data` fields and spits out the `bind_key`

It's based on @Magalex2x14's script (see https://github.com/custom-components/ble_monitor/issues/198#issuecomment-748638122), u

[2021-03-17 15:38] Ernst79 commented on #302
@Velcovsky has this sensor, he might have more information on the update interval of the sensor.

BLE Monitor should respond to the unencrypted messages. You could try to make a HCIDUMP and upload it here. I can check which messages are received and if something is wrong. In #301, I noticed that the sensor sends a lot of messages, but these messages do not contain data (other than RSSI value).

[2021-03-18 07:55] andrewjswan commented on #292
Maybe this help - https://github.com/lolouk44/hassio-addons/tree/master/mi-scale

[2021-03-18 21:10] rjh169 commented on #302
I now accept that the 11/12 minute update is the default behaviour when the device is not active.
The same is true for the CGH1 sensor, which if not activated by opening or closing, reports its status within 30 minutes.

When someone picks up their mobile and opens the Mihome app the app requests and receives data
for as long as the app is being looked at. On closing the app the device goes into a

[2021-03-18 21:13] Ernst79 commented on #302
Ok, I’ll update the docs according to your findings.

[2021-03-19 11:23] insof commented on #301
recieve LYWSD03MMC

obtain token
`Did:  blt.3.163a4mq9s5g00
Token:  a4bd16a1110fccfc330a3bc3
Bindkey:  c751edf5aefea4a9774bf949e2f2f2b3
Mac:  A4:C1:38:2B:B2:79`

add it to ble monitor
![image](https://user-images.githubusercontent.com/25526617/111771907-e573e280-88b4-11eb-9cbe-59f5164aaf5e.png)

![image](https://user-images.githubusercontent.com/25526617/111771987-02a8b100-88b5-11eb-8272-894ad09a7

[2021-03-19 11:56] insof commented on #301
dump
[dump.txt](https://github.com/custom-components/ble_monitor/files/6170852/dump.txt)

ordered new dongle.

[2021-03-19 12:36] Ernst79 commented on #301
You have the exact same issue, in the HCI dump, all messages from your new sensor again only show `08` as data. Very strange. As both sensors show the same problem, I think it's related to your dongle, I agree.

Hopefully a new dongle will help.

[2021-03-19 12:40] insof commented on #301
the same as before
new sensor sometimes recieves data
![image](https://user-images.githubusercontent.com/25526617/111781778-fe829080-88c0-11eb-8935-767bac145cf1.png)

![Uploading image.png…]()

[2021-03-19 13:00] Ernst79 commented on #301
With the normal firmware, it should update once every 10 minutes. You might want to try ATC firmware https://github.com/pvvx/ATC_MiThermometer

This will allow more frequent updates (several per minute).

But first the dongle issue should be solved!

[2021-03-19 22:19] PhilipsGorniczy opened #306 "CGPR1 not working properly"
Hi

I just added CGPR1 `Qingping CGPR1 Qingping Motion & Ambient Light Sensor CGPR1` to hass using ble_monitor.

Looks like motion is not working.
![image](https://user-images.githubusercontent.com/80550026/111847082-6a3c1c00-8908-11eb-8c9b-1b02550fdce8.png)

I ran hass in debug:
[code]

And all I was able to get was:
[code]

And then the error:
[code]

Was anyone able to get motion from this sens

[2021-03-20 08:04] Ernst79 commented on #306
I’ll create a fix for your issue ASAP. It’s an issue in the code of BLE monitor. Some sensors use the message for light on/off, CGPR1 uses the same message type for lux measurements. I think your motion sensor will start working after the fix as well.

[2021-03-20 08:10] Ernst79 commented on #301
In issue #302 , someone else found that his sensor is only updated once every 11/12 minutes for CGDK2. He posted a link to another github, where they also show that the other messages have  only 08 as result.

[2021-03-20 09:57] insof commented on #301
read it, but didnt understand anything)
dont know what ot do)
waiting for new dongle for now

[2021-03-20 10:30] Ernst79 commented on #301
Sorry if I wasn't clear. I tried to explain that the CGDK2 sensor sends (useful) data only once every 11 or 12 minutes. The same applies for the LYWD03MMC sensor, which sends data once every 10 minutes (with default firmware). So, if you have reception issues with your current bluetooth dongle, it could explain the behavior you observe.

I still think you have reception issues, despite the excelle

[2021-03-20 12:13] PhilipsGorniczy commented on #306
Thanks!

[2021-03-20 13:17] pvojnisek commented on #295
Hi @Ernst79,

systemctrl is not available in Home Assistant command line.

[code]
It looks running.

[2021-03-20 18:59] Ernst79 commented on #306
Should be fixed in 1.3.1-beta. Please update to the latest beta and let me know if it is fixed.

[2021-03-20 19:08] Ernst79 commented on #295
For the earlier error,

[code]

I googled a bit and found the follow things you could try

[code]

and

[code]

You could give these commands a try.

[2021-03-20 23:25] pvvx opened #308 "CGG1-M"
There are more than 3 variants of the CGG1 on sale.

**CGG1-M**
---
https://www.qingping.co/temp-rh-monitor/overview
Alternative firmware is currently only possible on CGG1-"M" - Mi-Home versions. Clarifications can be found here:
https://pvvx.github.io/CGG1
This is a newer CGG1-M based on the Telink platform. Has a price of 1.5 - 2 times lower than that of older versions of CGG1.
Alternative firm

[2021-03-21 07:56] pilot1981 opened #309 "Bluetooth BLE connection support"
Hi,
I already know your component do only passive monitoring of Xiaomi object using Bluetooth, but I need to start and stop Xiaomi Mosquito Repellent smart.

So I decided to develop software to do it!

I can use part of you code? You can explain which part of your cose I have to use?

you would integrate my part in your code or you prefer to do a fork?

regards

[2021-03-21 09:41] Ernst79 commented on #308
Thanks for the info, much appreciated. I will add part of it to the readme and/or FAQ.

[2021-03-21 14:14] Ernst79 commented on #308
Thanks again, readme and faq are updated.

[2021-03-21 14:14] #308 closed

[2021-03-21 14:35] Ernst79 commented on #309
Our component is making a HCIDUMP, which collects the data and filters out the useful parts. For the HCIDUMP, we use a modified aioblescan, which is normally available as pypi package. We copied it to our code (see aioblescan_ext.py), as we made some small changes, which were not added to the original pypi package. The bluetooth communication is done in that file.

All the processing of the data i

[2021-03-21 21:53] PhilipsGorniczy commented on #306
I confirm it is working correctly.
Thanks for very fast response!

[2021-03-22 07:07] #306 closed

[2021-03-22 12:49] pvojnisek commented on #295
It is getting strange. It was already unblocked.
[code]
After that I start a scan:
[code]
And:
[code]

Looks working from terminal. But in Home Assistant the log looks like this:
[code]

[2021-03-22 13:19] Ernst79 commented on #295
You can set BLE monitor to connect to hci1 in the options of the BLE monitor integration.

[2021-03-22 15:46] pvojnisek commented on #295
Thanks @Ernst79,
That's right. Currently it is running. Let's wait for some hours or days. It was strange that is was stopped working after running ok for a while.

[2021-03-22 21:02] pvojnisek commented on #295
The problem still exists.
[code]
And no data is coming anymore.
After this this is the situation:
[code]
[code]
[code]
[code]
[code]
And the Passive BLE monitor in HA started to work again.

Now I will wait for the next outage and I will test this process again.

[2021-03-23 19:21] Ernst79 commented on #295
It looks like both hcitool and bluetoothctl do not recognize hci1 anymore at a certain moment. I have no idea why, though.

[2021-03-24 11:30] pvojnisek commented on #295
Now it stopped again after less than 24 hours of operation. Here is the log:
[code]

[code]

[code]

[code]
[code]

I have no clue what to do. I got some esp32 boards and send sensor data via ESPHome instead.

[2021-03-25 09:54] borpin opened #310 "Multiple Bluetooth Dongles not working"
This is a marker for this issue as I cannot fully debug as the USB import to allow access to the OS is not working at present.

I have a 'Blue' with HA OS - fully up to date.

The component works when a single external dongle is configured but not when more than one is configured. Tried multiple configurations (one issue is I do not know which HCI interface the dongles are on).

I will post more d

[2021-03-25 10:31] Ernst79 commented on #310
You can get "lower level access" to HA OS with this procedure

https://developers.home-assistant.io/docs/operating-system/debugging/

This will allow you to check the hci port.

It's a bit more complicated, but doable :-)

[2021-03-25 11:02] borpin commented on #310
Yes there is a bug though in the latest release preventing this. https://github.com/home-assistant/supervisor/issues/2748

[2021-03-25 11:14] jonaskarl opened #311 "Integration seems ok but device doesn´t show up"
Hi,
Trying to find my temp sensor in the UI
Integration settings seems om (mac and encryption key)
![image](https://user-images.githubusercontent.com/33311260/112463530-a89b6600-8d62-11eb-94aa-f7f650587c17.png)

The log below doesn´t tell me anything:

`2021-03-25 12:00:26 DEBUG (MainThread) [custom_components.ble_monitor] Initializing BLE Monitor entry (config entry): <homeassistant.config_entrie

[2021-03-25 12:22] Ernst79 commented on #311
It just isn't receiving any data, so I think you have an issue with reception. The following message means that it has received 0 messages in the last period that follow the MiBeacon BLE format.

`0 MiBeacon BLE ADV messages processed for 0 measuring device(s)`

To test if you have issues with the range of bluetooth, place your sensor very close to your HA device. Also make sure there is no SSD cl

[2021-03-25 12:50] jonaskarl commented on #311
Solved!
It´s a LYWSD03MMC with stock firmware. No SSD attached and the distance between the RPI and the sensor is approx 30 cm.

I deleted my sensor in the mobile app, restarted the sensor, added the sensor in the mobile app again, An then it showed up in HA!
![image](https://user-images.githubusercontent.com/33311260/112475356-0636af00-8d71-11eb-8ae1-c0ab09693cdb.png)

Thanks for the support!

[2021-03-25 14:09] jonaskarl commented on #311
The device is connected but no measurements recived...
The sensor is approx 30 cm away from my RPI
![image](https://user-images.githubusercontent.com/33311260/112485024-c5439800-8d7a-11eb-846a-5bda78924ec8.png)

`2021-03-25 15:04:44 DEBUG (MainThread) [custom_components.ble_monitor] Initializing BLE Monitor entry (config entry): <homeassistant.config_entries.ConfigEntry object at 0x749d49d8>
2021-

[2021-03-25 14:18] Ernst79 commented on #311
Normally, when you remove and add the device again to MiHome, it will reset the encryption key and generate a new one. So, please first check your encryption key again, most likely it has changed.

Note that the LYWSD03MMC sensor is quite slow with stock firmware with sending data. It can take up to 10 minutes.

Alternative is ATC firmware, which updates more frequent and removes the need of an en

[2021-03-25 14:27] jonaskarl commented on #311
Ofc, I just had to fetch the encryption key again as it was changed!

Big thanks!
![image](https://user-images.githubusercontent.com/33311260/112489342-a5ae6e80-8d7e-11eb-87c9-001cca03dd76.png)

[2021-03-25 14:27] #311 closed

[2021-03-26 23:11] 50494554524F opened #312 "ble_monitor 1.3.1 + pvvx 2.8: mi format and encrypted mi beacon not working?!"
i'm using them in homeassistant with xiaomi LYWSD03MMC...

i used the bindkey stored in the thermometer when it was flashed, i can't get temp values.
then i erased all mi bindkeys and added my bindkey as suggested, same results.

if i use the original firmware and the bindkey i get ble_monitor working perfectly.

can you check, please?!?

thanks

[2021-03-27 10:24] Ernst79 commented on #312
Did you add it to MiHome? Is it working there?

If added to MiHome, check the bind key again with Xiaomi cloud token extractor, it might have changed. Adding it to MiHome will trigger a new key generation.

other option is to use the custom advertising format, which can be set in the firmware.

[2021-03-27 10:45] 50494554524F commented on #312
never used mihome app, i get the bindkey from pvvx flasher...

i enabled the debug for ble_monitor... i get a tons of "invalid data" rows, these rows disappear when i disable the encryption... so there's a bug somewhere in ble_monitor/firmware/homeassistant, my knowledge finish here and have to put this problem back in the line...

i'll try custom format...

[2021-03-27 11:13] Ernst79 commented on #312
If you are not planning to use MiHome, it is better to use the custom format anyway. No encryption key required and 'custom' advertising format also sends voltage data of the battery.

[2021-03-27 11:20] 50494554524F commented on #312
i have the thermometer working without the encryption, it would be better to use it with the encryption... as i said, using the encryption with original firmware works perfectly... so there's a bug somewhere...

[2021-03-27 11:30] Ernst79 commented on #312
Ok, I will check it later if I have the same issue.

[2021-03-27 18:36] Ernst79 commented on #312
Yep, I can confirm your issue. Have to look into it, not sure if it is an issue with the firmware or with our component.

[2021-03-27 19:04] Ernst79 commented on #312
I found an issue in the format of the data collected with an HCI dump, the first line is a BLE message from stock firmware, the second line from ATC firmware with advertisement type Mi and encryption enabled. As you can see, three bytes are missing. I'll create an issue at the ATC github, my first impression is that is a bug in the firmware.

[code]

[2021-03-27 22:29] Ernst79 commented on #312
Try to update to ATC firmware 2.9.

I’ll check tomorrow as well.

[2021-03-28 10:46] 50494554524F commented on #312
left a message in pvvx pages...

[2021-03-28 17:49] Ernst79 commented on #302
I'll close the issue. docs are updated. Feel free to reopen.

[2021-03-28 17:49] #302 closed

[2021-03-29 11:02] FrancYescO commented on #253
Hello, it's possibile to get this sensor data without having a xiaomi gateway?

[2021-03-29 11:52] Ernst79 commented on #253
Don't think so, as you will need to get an encryption key, which is generated when you add it to MiHome. I think the sensor communicates with the xiaomi gateway, so not directly to your phone. But you can try to see if you can add the sensor to the MiHome app without the gateway. I don't think this will work, but just try to make sure.

Some sensors like LYWD03MMC can get a key without MiHome on t

[2021-03-29 11:57] Ernst79 commented on #312
Note that firmware version 2.9 breaks the parsing in ATC format (custom or ATC1441). Fix is in progress, testing it right now.

[2021-03-29 12:07] FrancYescO commented on #253
![immagine](https://user-images.githubusercontent.com/4574593/112833483-16af9800-9097-11eb-8306-e7da2b4354b2.png)
:(

already tried the ATC website, but after pairing i cannot do the activation.. also i assume without a gateway there is nothing (neither encrypted) to sniff

i wrongly bought this device (assuming it was zigbee) and i have no gateway for set it up :(

[2021-03-29 12:22] andrewjswan commented on #253
Yes, just add it to MiHome (and get paring key) then add it to HA with paring key ...

[2021-03-29 13:00] FrancYescO commented on #253
Ok i was trying to add the v1 that ask for a gateway, after switching to china mainland v2 appeared in the app and i'm able to add it, now just need to figure out how to get the pairing key, thank you.

[2021-03-29 13:31] andrewjswan commented on #253
Just in case, each binding changes the key. :)

[2021-03-29 13:33] andrewjswan commented on #253
The gateway is needed to connect the sensor to the cloud, if there is no gateway, you can only get data from the sensor by connecting to it. But if the sensor is connected to Home Assistant, it also doesn't need the gateway and all data will be in Home Assistant.

[2021-03-29 13:59] FrancYescO commented on #253
Starting to be challenging.. I've added the sensor to the mi home modded app but it does not show me any data from the sensor.. neither i see a pairing key in the `vevs` folder.. i hope the token_extractor.py can help me to get the key

[2021-03-29 14:12] andrewjswan commented on #253
Need create vevs/logs folder, then remove sensor from MiHome, and add it again, in vevs/logs/misc/pairings.txt  should be paring keys (**Bindkey**) ...

[2021-03-29 14:21] FrancYescO commented on #253
got the key via https://github.com/PiotrMachowski/Xiaomi-cloud-tokens-extractor

now i'm trying to add to this extension but integration > Passive BLE Monitor > add device > insert MAC and key click submit, nothing happens.

[2021-03-29 15:16] andrewjswan commented on #253
@Ernst79 maybe need add https://github.com/PiotrMachowski/Xiaomi-cloud-tokens-extractor to FAQ?

[2021-03-29 15:59] Ernst79 commented on #253
It’s already in the FAQ, as the number 1 solution to get your key.

[2021-03-29 18:00] Ernst79 commented on #312
1.4.0 is released with a fix for ATC firmware 2.9. All advertisement formats should work again.

[2021-03-29 18:01] Ernst79 commented on #312
Closing the issue. Feel free to reopen if you still have issues.

[2021-03-29 18:01] #312 closed

[2021-03-29 18:02] Ernst79 commented on #301
Any update? Is the new dongle working better?

[2021-03-30 07:07] insof commented on #301
sorry, I got new dongle, but its not supported by linux, as I found in net its unsupported on core version >3.9
i can see it in lsusb but hci0 device not detected

I ordered another one, I hope it would work and I will update this issue.
Sorry for delay.

[2021-03-30 08:39] GrzegorzZajac000 opened #315 "ATC firmware and errors with data length"
I have 4 Xiaomi LYWSD03MMC with custom ATC firmware and I can't add it to my HomeAssistant. I updated ble_monitor to 1.4 but problem still exists.

Logs:
[code]

[2021-03-30 09:11] Ernst79 commented on #315
Which ATC firmware version do you have? And what advertisement type do you use in the ATC settings?

and try to to set active scan to false (=default) and report_unknown can also be set to false.

[2021-03-30 09:16] GrzegorzZajac000 commented on #315
ATC firmware Release 34. I installed it yesterday. I didn't change Advertisement type so I probably have default for ATC.
I changed config in YAML, but nothing changed in HA

[2021-03-30 10:11] Ernst79 commented on #315
Release 34? Ah, you use this atc1441 version (https://github.com/atc1441/ATC_MiThermometer)

I normally use this improved pvvx ATC version, https://github.com/pvvx/ATC_MiThermometer, which is currently at version 2.9.

I'll check tonight if there has been a change. The 1.4.0 version was changed due to the v2.9 update of the last firmware. It should be backward compatible with the old pvvx version

[2021-03-30 10:13] GrzegorzZajac000 commented on #315
Yes, I am using atc1441 version. Thank you :)

[2021-03-30 10:51] Ernst79 commented on #315
I just tried it myself with V34, don't see an issue on my end.

What kind of Home Assistant installation do you have? If you have a supervised installation, venv installation or docker installation, I would like to ask you to make a HCI dump with this command

[code]

Collect for about 2 minutes of data, and upload this file to github by attaching it to a message.

This doesn't work easy on a Home

[2021-03-30 11:40] GrzegorzZajac000 commented on #315
I have HomeAssistant installed by Whiskerz007 script on Proxmox. I use Dell Wyse 5070 and built-in Intel 9560 PCI card.
And my false, but I tried connect to BT sensor for couple days and I have become impatient and I decided to reflash all my sensors to pvvx and everything works fine.

If you want I can re-flash one of my sensors, but dump.txt for now.
[dump.txt](https://github.com/custom-componen

[2021-03-30 11:47] Ernst79 commented on #315
At least, you now know a way to get it working. :-)

To help the community, it would be really appreciated if you can flash it (temporary) with atc1441 firmware and generate a HCI dump again. This will help me fix it for other users.

[2021-03-30 11:56] GrzegorzZajac000 commented on #315
Here you are
[dump.txt](https://github.com/custom-components/ble_monitor/files/6228804/dump.txt)

I checked logs. Invalid data length appeared

[2021-03-30 12:05] Ernst79 commented on #315
Are you sure the sensor isn't working? I don't see an issue in the format of the messages.

[2021-03-30 12:07] GrzegorzZajac000 commented on #315
I think so, because of the logs:
[code]

[2021-03-30 12:07] GrzegorzZajac000 commented on #315
And I didn't get any update on this sensor since re-flash

[2021-03-30 12:09] Ernst79 commented on #315
ok, I'll look further. Please keep the firmware for a few hours.

I'm now looking at a message of the sensor with mac a4c13863378b. Is that a sensor that isn't working?

[2021-03-30 12:14] GrzegorzZajac000 commented on #315
Yes, I reflashed only one sensor with MAC: A4:C1:38:BC:7C:4E

[2021-03-30 12:20] Ernst79 commented on #315
I think the HCI dump is too short, there is no message from this sensor. Can you set the interval to 10 seconds in the firmware settings and/or make a longer hcidump? I thought you can set the interval to 10 seconds on the flashing website.

[2021-03-30 12:27] Ernst79 commented on #315
Just a side note, the invalid data length isn't necessarily an issue. Sensors often send data that are not useful, it is just a debug message that tells me that this message is skipped. As long as there are enough other messages that do work, this should be a problem.

But a sensor not updating is an issue.

[2021-03-30 12:30] GrzegorzZajac000 commented on #315
[dump.txt](https://github.com/custom-components/ble_monitor/files/6228993/dump.txt)

[2021-03-30 12:31] GrzegorzZajac000 commented on #315
And no values update from this reflashed sensor

[2021-03-30 12:36] Ernst79 commented on #315
Thanks, I found a BLE message of the sensor.

[2021-03-30 14:14] GrzegorzZajac000 commented on #315
![Screenshot 2021-03-30 at 16 14 32](https://user-images.githubusercontent.com/12233796/113003442-0a007200-9173-11eb-9a3f-97bcb39baf14.png)

It works ;)

[2021-03-30 14:22] Ernst79 commented on #315
Great, thanks. Update will be released tonight. You can return to ATC pvvx if you want. Thanks for your help.

[2021-03-30 14:34] Ernst79 commented on #315
Fixed in 1.4.1

[2021-03-30 14:34] #315 closed

[2021-04-02 08:47] DmitriusDan opened #317 "Xiaomi Smart Water Leak Sensor SJWS01LM"
For some unknown reason, the sensor becomes unavailable after restarting the HA. All other sensors operate normally (LYWSD03MMC, CGD1) and come online in 30 seconds after restart. But this one may not be available for about 1-2 days. It works good in the Mi Home app. I have 5 Mi smart plug (BLE gateway version) and two of them are close to the water leak sensor

[2021-04-02 08:50] Ernst79 commented on #317
Did you try to place it closer to HA, to verify that you do not have a range issue? You mention that it does become available after 1-2 days, so I suspect an issue with the range.

[2021-04-02 08:59] DmitriusDan commented on #317
Ok, I will try. Does this mean that the BLE HA integration does not use BLE gateways? This is a very good integration and I only have an issue with 1 of 11 sensors

[2021-04-02 09:28] Ernst79 commented on #317
No, BLE monitor uses the Bluetooth dongle/radio/receiver of the Home Assistant hardware (e.g. Raspberry Pi). So, the sensor has to be within the range of your Home Assistant machine. It does NOT use a gateway, although sensors often do need to be added to a gateway to start broadcasting data.

If it isn't within range, you will have to look for alternatives.
- Improve the range of HA machine (chec

[2021-04-02 11:04] DmitriusDan commented on #317
I placed it closer to rasp pi and it working good now. Thank you.

[2021-04-02 11:04] #317 closed

[2021-04-04 14:19] Dskurihin commented on #282
Could this be helpful - https://github.com/lolouk44/hassio-addons/tree/master/mi-scale ?

[2021-04-04 15:24] Ernst79 commented on #282
It would be helpful if someone can send a hcidump with the MAC address

`sudo hcidump --raw hci > dump.txt`

[2021-04-05 10:42] insof commented on #301
finally I win this battle, at the end I have 2 different working PC, 4 different bluetooth dongles, 3 bluetooth temperature sensors

I assemble another machine from some old stuff, but install ubuntu(not debian as on first), install HA through docker.
One of 4 dongles works with ubuntu out of the box.
then I followed your instructions on install - and everything works well.

I assume that there wa

[2021-04-05 10:42] #301 closed

[2021-04-05 11:13] Ernst79 commented on #301
No problem, glad it is solved for you.

[2021-04-05 11:17] Ernst79 commented on #310
Please try updating to 1.5.0-beta. This version will allow you to specify the MAC address in stead of the HCI number. The MAC addresses will be presented in the logs during startup of HA (when using YAML for configuration). When configuring in the User Interface. it will present a drop down menu in the options with available Bluetooth interfaces (Mac Addresses) on your system.

[2021-04-05 11:29] Ernst79 commented on #225
@TeoTN I'm closing this issue. The following topic shows a solution to make HCI available in docker, as described in my previous post.

https://forums.balena.io/t/bluetooth-need-network-mode-host-to-be-visible-in-container/135723

[2021-04-05 11:29] #225 closed

[2021-04-05 11:36] Ernst79 commented on #240
I'm not sure either, you should just try. Note that this component uses the Bluetooth of the system HA is running on, and not the Bluetooth of an external gateway. So you have to add Bluetooth to the Synology NAS and the dongle should be made available to the HA docker. On normal Linux systems, this is normally possible.

Another option is to the Xiaomi Gateway 3 and this component [XiaomoiGateway

[2021-04-05 11:41] kifgep commented on #240
I found this plugin, it will pull data from the Xiaomi server, so no need for Bluetooth for the docker image installed on Synology.
[MIoT](https://github.com/ha0y/xiaomi_miot_raw)

[2021-04-05 11:42] Ernst79 commented on #295
I'll close the issue, as you have found a workaround.

Note that BLE monitor 1.5.0-beta is release, which is now using the MAC address in stead of hci. It might help, although in the background, the mac is still converted to a hci port.

[2021-04-05 11:45] Ernst79 commented on #240
Ok, thanks for the reply. My Chinese isn't that well :-), but good to see that there is an alternative.

[2021-04-05 11:45] #240 closed

[2021-04-05 23:27] 8times4 opened #319 "soocas.toothbrush.m1s support"
Hey!

I really like what you guys did with the ble implementation to HA. Thank you!

I'm checking if it'd be possible to add some support to Xiaomi Toothbrush T500.

I've got some logs via HA:

[code]

[code]

[code]

I've also dumped some info here a few weeks ago: https://github.com/Hypfer/Cybele/issues/16

Would you also require a hcidump?

Thank you,
Mark

[2021-04-06 06:54] Ernst79 commented on #319
Hi Mark,

Yes, It's possible to add this device. It's NOT encrypted, so no need to get a key.

I first looked at the 10 lines presented in your post.
- Short lines contain no data, only RSSI
- 3rd line: result: 'battery': 58%
- 8 line: result: 'Toothbrush incident': 0003
- 10th line: result: 'Toothbrush incident': 0004

'Toothbrush incident' is the google translation of the sensor type 0x0010 on t

[2021-04-07 10:49] xekil commented on #282
@Ernst79 Hello, I want to try but I am on hassio and the command does not work

[2021-04-07 10:56] Ernst79 commented on #282
On Home Assistant OS (previously Hassio) you will have to use this procedure first to get ssh access to the operating system and run the commands (I tried it, and it worked).

https://developers.home-assistant.io/docs/operating-system/debugging/

In short, you have to generate a key, put it on a USB and reboot your HA system. This will give you SSH access (e.g. with putty). Type `login` and you wi

[2021-04-07 16:17] xekil commented on #282
I tried the procedure but it doesn't work
(Home Assistant OS 5.12)

**Yet I have:**

- Formatted the USB key as eXFat
- Renamed the key in CONFIG
- Generated the public SSH key with Putty
- Create an authorized_keys file at the root of the USB stick
- Pasted and saved the SSH key in this file

Do you have a sample file?
Maybe there are elements that are not good?

[2021-04-07 16:46] Ernst79 commented on #282
Did you specify your private key in putty, under connection, SSH, Auth?

![image](https://user-images.githubusercontent.com/24375847/113903662-80cfe780-97d1-11eb-90a3-527269083f85.png)

[2021-04-07 16:57] xekil commented on #282
indeed I did not have to add the private key in putty, I can now connect to port 22222 but not identify myself

![private](https://user-images.githubusercontent.com/69087258/113905058-099b5300-97d3-11eb-820c-2a0705c85af0.png)

[2021-04-07 17:04] xekil commented on #282
server refused our key !

[2021-04-07 17:04] Ernst79 commented on #282
If I look in notepad++ I see it's UTF8. The instructions indeed say it should be ANSI, didn't look at that. Nevertheless, it worked for me.

![image](https://user-images.githubusercontent.com/24375847/113905772-cdb4bd80-97d3-11eb-9754-660d3bf701c7.png)

I get the error you have if I did not select the private key.

[2021-04-07 17:07] xekil commented on #282
I think it's the way of copying it to the file that is causing the problem, do you have an example of your file?

Should we leave the following lines?
---- BEGIN SSH2 PUBLIC KEY ----

[2021-04-07 17:08] Ernst79 commented on #282
Did you also check line ends to be LF

![image](https://user-images.githubusercontent.com/24375847/113906472-972b7280-97d4-11eb-8357-682e1d7e97de.png)

[2021-04-07 17:09] Ernst79 commented on #282
No, it is only one line, like this

![image](https://user-images.githubusercontent.com/24375847/113906573-ae6a6000-97d4-11eb-882d-f44446f5abf8.png)

[2021-04-07 17:11] xekil commented on #282
---- BEGIN SSH2 PUBLIC KEY ----
Comment: "rsa-key-20210407"
AAAAB3NzaC1yc2EAAAABJQAAAQEAySAmcMK5zwbZbbXJ7tva2i5h/2bSS1yOobGo
ttCMozNU4LyYmuvgTvGQojAHs2z3Q55WSQ55/n+bvOtUhTVfffVi2sOG22tGF3SM
EoscjH8T01yTjQdvnyvlHvpG7SNIspmisazr+vKQ1Wws034KTQN8XfI0RzgbccLV
6568/WZVpyk7ITIdoVF6e5dLlSmqiL0pqUIO6IaRstMuQ6U5BlLyfypOBP0GAIK3
2aCWfKzoQjw8OJCPhSac0w0g2u9PA56J8UlwS5I3Mjn865Sukh80iFCrdNnez+cQ
QR9QXFKTrLuApbL

[2021-04-07 17:18] Ernst79 commented on #282
Did you click on view --> show symbols --> line ends?

[2021-04-07 17:21] xekil commented on #282
I regenerated a new key and this time I have the symbols but there are several lines in my files

![public](https://user-images.githubusercontent.com/69087258/113908108-77954980-97d6-11eb-909c-5bed4a6d73e9.jpg)

[2021-04-07 17:25] xekil commented on #282
ok I will try

[2021-04-07 17:29] xekil commented on #282
server refused our key !

[2021-04-07 17:30] Ernst79 commented on #282
Ah, I remember I used the other method, as I did not succeed with the puttygen method. sorry

https://docs.github.com/en/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent#platform-mac

1. Open Git Bash.
2. `ssh-keygen -t rsa -b 4096 -C "your_email@example.com"`

[2021-04-07 17:36] xekil commented on #282
ok thanks for the info, it seems complicated the other method ...

[2021-04-07 17:52] xekil commented on #282
So I generated the two keys with this method, there is indeed LF at the end, in puti I select the cihicer without extension and it does not work

![o](https://user-images.githubusercontent.com/69087258/113911816-b4fbd600-97da-11eb-8545-ac030c8b7e94.jpg)

[2021-04-07 18:24] Ernst79 commented on #282
Are you sure you put the right file on the stick, and rebooted the HA machine.
Are you also sure you have selected the private key in putty when making a connection.

I see the message shows something about OpenSSH, that seems to be your old private key.

And did you use the "legacy" rsa to create your key.

[2021-04-07 18:31] xekil commented on #282
two files were generated **key** and **key.pub**
I copied the contents of key.pub to the authorized_keys file and the end of the line is LF
in putty, I chose the **key** file

how to use the legacy method ?
In Git I simply entered :

`ssh-keygen -t rsa -b 4096 -C "my_email@example.com"`

I did not have to make a choice, only to enter a file name

[2021-04-07 18:38] Ernst79 commented on #282
That should be correct. Perhaps the UTF-8 has to be converted to ANSI, or try UTF-8 format, which worked for me.

Did HA mention something in the logs after a reboot that the new key is loaded?

[2021-04-07 18:46] xekil commented on #282
i just tried again, no change whatsoever utf-8 or ANSI
No error in HA logs

[2021-04-07 19:18] Ernst79 commented on #282
I think we should look into the private key, as it says “unable to use key file...private key”. Can you load your key in puttygen (not generate, but load it).

[2021-04-08 07:55] Ernst79 commented on #319
I've created a first draft in the [Xiaomi-toothbrush-T500 brance](https://github.com/custom-components/ble_monitor/tree/Xiaomi-toothbrush-T500/custom_components/ble_monitor)

To try, first install version 1.5.2, if not already done. After that, overwrite the content of `sensor.py`, `__init__.py`, and `const.py`, with the content of the above mentioned branch.

You will get a battery sensor (if ena

[2021-04-08 09:01] Toukite commented on #295
Can you please tell me what the workaround is ?

[2021-04-08 09:39] Ernst79 commented on #295
The workaround @pvojnisek is using is using ESPHome. I understand it isn't a solution for BLE monitor, but we couldn't figure out what was wrong.

I'm under the impression that it has something to do with the Bluetooth installation and/or firmware of the Bluetooth radio.

I recently had the same error when I tried it on a supervised installation on Debian. I had a lot of troubles getting Bluetooth

[2021-04-08 09:43] stylishkrio opened #320 "Xiaomi door sensor 2 MCCGQ02HL data status unknown."
The data comes very badly. He writes very often it is unknown. Bindkey registered.
![Xiaomi door sensor 2 MCCGQ02HL data status unknown](https://user-images.githubusercontent.com/77132140/114005273-0f8f4380-9868-11eb-840d-d04a371eea99.PNG)

[2021-04-08 09:50] Ernst79 commented on #320
Is the sensor within the range of your Bluetooth receiver. Can you check the RSSI value (click on one of the sensors, it's in the attributes (if it is not 'unknown' of course).
Try to place the sensor close to your HA machine, to see if it makes a difference.

Are there any errors in the log?

[2021-04-08 09:55] pilot1981 opened #321 "problem of Bluetooth interface found in componenet check configuration"
Hi,
I'm using this config:

`ble_monitor:
  discovery: False
  batt_entities: True
  bt_interface: 'B8:27:EB:A0:08:89'
  devices:
    - mac: '74:a3:4a:c0:16:78'
      name: 'Mosquito'`

but when I use check home assistant configuration component I receive this error:

[11:50:22] ERROR: Found an error in the log output of the check!
[11:50:22] ERROR: See the output below for more details.
ERROR:cus

[2021-04-08 10:03] Ernst79 commented on #321
It is saying that it can't find the Bluetooth interface with MAC address 'B8:27:EB:A0:08:89'

Is BLE monitor working right now?
What kind of installation do you have? Could you post the result of `hcitool dev` with SSH.

[2021-04-08 10:18] stylishkrio commented on #320
The RSSI value is good. There are no errors in the log.

It helps to turn on, off in the "Dim / bright light detection" item in the settings of the sensor itself in mi home. But if I restart the home assistant, then the data disappears again and does not come. Even after 24 hours of waiting.

[2021-04-08 11:03] Ernst79 commented on #320
Hmmm, I have no clue. Did you double check the encryption key?

Do you have access to SSH? If so, try to make a hcidump for some time and check if you receive messages from the sensor (of upload the file here, and I'll check it). Note. hcidump won't work on Home Assistant OS, at least not without some additional steps.

[code]

[2021-04-08 12:32] pilot1981 commented on #321
MAC address 'B8:27:EB:A0:08:89' result from #bluetoothctl command line output...

I also tried this config:

`ble_monitor: discovery: False batt_entities: True devices: - mac: '74:a3:4a:c0:16:78' name: 'Mosquito'`

but I always obtain same log error from component check config:

[12:50:22] ERROR: Found an error in the log output of the check!
[12:50:22] ERROR: See the output below for more details

[2021-04-08 13:08] Ernst79 commented on #321
Yes, you can update to the latest HassIo version.

The error is due to the latest update of BLE monitor. BLE monitor runs `hciconfig` to get the available MAC addresses on your system. You get the error if it doesn't find any Bluetooth MAC address.

What I don't understand is that BLE monitor does work, but it doesn't find the MAC address. Can you do a restart of Home Assistant, and right after th

[2021-04-08 13:21] antoweb opened #322 "Strange error but sensor work good"
In home assistant log i see:

2021-04-08 15:15:19 ERROR (Thread-6) [custom_components.ble_monitor] Decryption failed: MAC check failed
2021-04-08 15:15:19 ERROR (Thread-6) [custom_components.ble_monitor] token: XXXXX
2021-04-08 15:15:19 ERROR (Thread-6) [custom_components.ble_monitor] nonce: XXXXOMITTEDXXXXXXXXXXX
2021-04-08 15:15:19 ERROR (Thread-6) [custom_components.ble_monitor] encrypted_paylo

[2021-04-08 13:26] Ernst79 commented on #322
This error means that the encryption key is not correct.

Some sensors support both encrypted and non-encrypted messages at the same time. Which sensor do you have?

Try to double check your encryption key with https://github.com/PiotrMachowski/Xiaomi-cloud-tokens-extractor

[2021-04-08 13:28] pilot1981 commented on #321
I get this error only when I start component check config...

BLE_monitor works fine.

no any other error in HA logs, also after restart HA.

so if I get MAC address from #bluetoothctl cmmand, it isn't correct? I have to get it using @hciconfig in command line?

[2021-04-08 13:33] antoweb commented on #322
I have LYWSD03MMC. 4 devices.
they have always worked great and are still working I only see that error in the log

[2021-04-08 13:34] Ernst79 commented on #321
the `hciconfig` command won't work on Home Assistant OS, at least not with the SSH add-on. But that is not needed.

I assume you used configuration of BLE monitor in YAML, is that correct?

If so, you should get a message in the log that says.

`Available Bluetooth interfaces for BLE monitor:`

Do you have this message in the log (it's a warning message). if you have this message, can you tell me

[2021-04-08 13:36] Ernst79 commented on #322
Do you use normal stock firmware, or ATC firmware?

[2021-04-08 13:37] antoweb commented on #322
Normal stock firmware. But if i want to know wich of my 4 devices is talking about the error?

[2021-04-08 13:40] antoweb commented on #322
Maybe found the problem. One device have battery 10% and in Hassio i see wrong temeprature and humidity value . Maybe is the battery to change

[2021-04-08 13:41] Ernst79 commented on #322
You can check the MAC address in the Error log. Are these all the same MAC addresses, or all 4 sensors, or even maybe another sensor. When you know the MAC, you can check the encryption key in the above mentioned tool.

The encryption key can change, normally when re-adding it to MiHOme for example.

[2021-04-08 13:41] pilot1981 commented on #321
I'm speaking about official component "check home assistant configuration" here:
![image](https://user-images.githubusercontent.com/46350465/114037018-db744c80-9880-11eb-8910-9a34c0200aa9.png)

[2021-04-08 14:02] antoweb commented on #322
In the log there is not mac address. And encryption key where are saved in the integration page? So the problem was solved after changing battery and re-activate sensor with a new encryption key

[2021-04-08 14:11] Ernst79 commented on #322
The MAC  is "hidden" in the `nonce`, first 12 characters, but you have to read them backwards per two

So, if is says nonce: AA332145BBCCxxyyzz11223344, then your mac is CC:BB:45:21:33:AA

Encryption key is in the integration options, at the bottom, select your sensor on the drop down menu and click submit. This will open a new window, where you can add your key.

[2021-04-08 14:18] antoweb commented on #322
Ok i can add a new key but how to know the old or current key without change anythink?

[2021-04-08 14:32] Ernst79 commented on #322
I don't exactly understand the question.

The current key can be found with https://github.com/PiotrMachowski/Xiaomi-cloud-tokens-extractor
The old key is probably still in your configuration, you can remove it and replace with the new key.

Make sure the sensor is added to MiHome first.

[2021-04-08 14:36] antoweb commented on #322
Thanks all clear. But if i have used TelinkFlasher website. the encryption key cannot be obtain with Xiaomi cloud extractor. So ia have understand thath i can found the old key in integration page. if you confirm me thath to get the old key and pressing send button i dont change anythink in integration configuration

[2021-04-08 14:59] Ernst79 commented on #322
Yes, just try to use the old key. If that doesn’t work and the error returns, go to the TelinkFlasherwebsite and generate a new key. In that case, replace the key with the new key in the BLE monitor options

[2021-04-08 17:02] stylishkrio commented on #320
The encryption key has been checked many times. He's correct. SSH is there. But didn't work with hcidump.

[2021-04-08 17:03] stylishkrio commented on #320
Xiaomi Gateway 3 integration AlexxIT. But also no problem.
![Xiaomi Gateway 3 integration AlexxIT  But also no problem](https://user-images.githubusercontent.com/77132140/114067447-80088580-98a5-11eb-9561-77212a3e5be7.PNG)

[2021-04-08 17:13] stylishkrio commented on #320
The data is coming in. But not all.
![The data is coming in  But not all](https://user-images.githubusercontent.com/77132140/114068680-d88c5280-98a6-11eb-9d17-8d4ac3bb2732.PNG)

[2021-04-08 17:17] Ernst79 commented on #320
Can you enable debug logging. Add the following to configuration.yaml and restart. Post the logs after a while.

[code]

[2021-04-08 17:34] Ernst79 commented on #320
I checked the post when @Magalex2x14 created support for this sensor, it seems that it only sends date on an event, like opening the door.
- Does it update when you open/ close the door?
- Does it update when you turn on/off the light?

see https://github.com/custom-components/ble_monitor/issues/115#issuecomment-730614072

[2021-04-08 21:37] pilot1981 commented on #321
I found it:

![DDAD7AC0-46F0-443E-80FB-C028C2507E41](https://user-images.githubusercontent.com/46350465/114099583-53636680-98c3-11eb-8971-8c0b3ad8ac9e.png)
![6F01827F-EF5F-4AC8-BBA0-35F760160E8A](https://user-images.githubusercontent.com/46350465/114099589-552d2a00-98c3-11eb-8841-5a92f3ec6c2a.png)

[2021-04-09 06:32] Ernst79 commented on #321
Sorry, I don't understand? What did you find?

I tried it on my system, and it didn't find an error. (Supervised installation on raspberry OS).

[2021-04-09 07:36] Ernst79 commented on #280
@jaccdk Did you had the possibility to collect some data? I'm currently working on another toothbrush, see #319.

Just a check, when you tried it with report_unknown, did you enable debug logging as well?

[2021-04-09 08:21] Kaibob2 commented on #322
I recebtly added a MJYD02YL to my four existing LYWSD03MMC with ATC firmware.
The motion MJYD02YL works fine and all available show up and keep updated. Nevertheless i get
continous errors like below in the log. Any idea?

[code]

[2021-04-09 08:34] Ernst79 commented on #322
Could you first identify your sensor that is giving problems. It has MAC address 28:D1:27:24:11:5E. Is it a LYWSD03MMC or the MJYD02YL?

[2021-04-09 09:04] pilot1981 commented on #321
I found info into HA GUI, but not bluetooth interface...

on HASSIO, chere you find message in the log that says: "Available Bluetooth interfaces for BLE monitor:"
in which file?

[2021-04-09 09:17] Ernst79 commented on #321
You can find it under Configuration --> Logs

![image](https://user-images.githubusercontent.com/24375847/114158627-31023500-9925-11eb-9a79-a64971f12d83.png)

[2021-04-09 09:21] Kaibob2 commented on #322
Sorry, i forgot to mention. It's the MJYD02YL.
[code]

[2021-04-09 09:41] Ernst79 commented on #322
The received BLE message fails on the decryption, this normally means that the encryption key is wrong or it has received a malformed BLE message. Please double check the encryption key with xiaomi cloud tokens extractor. It might have changed. Other option is an (almost) empty battery.

[2021-04-09 09:59] pilot1981 commented on #321
I don't found it...

I suppose first I have to enable logs in configuration.yaml?!

custom_components.ble_monitor: debug

[2021-04-09 10:17] pilot1981 commented on #321
ok, done. I report here my logs:

Logger: custom_components.ble_monitorSource: custom_components/ble_monitor/__init__.py:261Integration: Passive BLE monitor (documentation)First occurred: 12:08:32 (1 occurrences)Last logged: 12:08:32
Available Bluetooth interfaces for BLE monitor: ['B8:27:EB:A0:08:89']

so, this could confirm my good setup in configuration.yaml:

`ble_monitor: discovery: False bat

[2021-04-09 10:21] Ernst79 commented on #321
Yes, it seems so. Looks like everything is fine, except the check home assistant configuration. As I said, it didn’t cause an error on my system (HA supervised). I will do a check with Home Assistant OS this weekend, have to find an SD card somewhere first. Will get back to you a.s.a.p.

[2021-04-09 10:24] Kaibob2 commented on #322
I got the key with the modified Xiaomi Home App (vevs) This worked fine for the LYWSD03MMC, too. I now Uninstalled the patched App and installed the official one, paired the MJYD02YL and used the xiaomi cloud tokens extractor to get the new key. Pretty cool tool by the way. Great work, much easier than the patched App. All sensor show up in HA. I will report back what happens...

[2021-04-09 10:27] pilot1981 commented on #321
I have raspberry 3 pi b+, so only one bluetooth interface...

To replicate issue you need to use addon check config 3.6.0 and try to go from HASSIO 2021.3.x to 2021.4.1

regards

[2021-04-09 11:37] Kaibob2 commented on #322
The batteries where new, and i just changed them again for three new ones.

Still the same:
[code]

[2021-04-09 11:39] antoweb commented on #322
I think that when change battery you have to reacrivatre because the encrytpion key is changed

[2021-04-09 11:43] Ernst79 commented on #322
Yes, a battery change could cause a new key being generated, make sure it is connected to MiHome, and check the encryption key afterwards with xiaomi cloud tokens extractor. It might have changed.

[2021-04-09 11:48] Kaibob2 commented on #322
I can exclude this. The error was there before with new batteries. The battery sensor showed 100% and I tested them (trust me, they were full, I'm technical engineer ;))

I changed them anyway and verified the key. Communication via the MI Home App is working.

[2021-04-09 12:00] Ernst79 commented on #322
Hmm, ok. Strange.

So, to summarize the issue of @Kaibob2 (to see if I can make sense of it)
- MJYD02YL works ok in BLE monitor and MiHome
- Apparently some of the BLE messages can't be decrypted, and the other part can be decrypted.

Can't make much sense of this, if this is true. Why would the sensor send messages that partly can be decrypted (otherwise it wouldn't show up and update in HA), and

[2021-04-09 12:13] stylishkrio commented on #320
Updated when the door is closed / opened. But do not update when the light is turned on / off.

[2021-04-09 12:13] stylishkrio commented on #320
[logs.log](https://github.com/custom-components/ble_monitor/files/6285615/logs.log)

[2021-04-09 12:24] antoweb commented on #322
@Ernst79 i think so. After changing battery, that was at 10%, no more error message in log

[2021-04-09 12:28] Ernst79 commented on #321
I tried again, now with YAML config in stead of configuration in the User Interface (still Supervised installation). I now do get the error.

![image](https://user-images.githubusercontent.com/24375847/114177204-69613d80-993c-11eb-97ac-1aec0657c920.png)

I will look into it

[2021-04-09 13:00] Ernst79 commented on #320
I don't see anything strange in the logs.

One tip is to use the option `restore_state: True` to keep the state during a restart and/or reloading of the integration. This will at least prevent it from being `unknown`, but will restore the state after a restart to the state before the restart. Can be set at integration level, but also at device level.

Regarding the light sensor, I have no idea why

[2021-04-09 15:28] pilot1981 commented on #321
yes, this is the same error for me!

[2021-04-09 16:15] serb1906 commented on #292
Hello.
I do some draft version for myself with Xiaomi My Scale Body Composition (MiScale v2).
I can write some info about it and attach my very draft files for parsing (I don't add new sensor in dictionary yet)
[__init__.txt](https://github.com/custom-components/ble_monitor/files/6287055/__init__.txt)
[const.txt](https://github.com/custom-components/ble_monitor/files/6287056/const.txt)
[home-assis

[2021-04-09 17:20] Ernst79 commented on #292
Thanks, this is perfect information. I will create a beta version for this.

[2021-04-09 17:26] serb1906 commented on #292
Thank you! Waiting new version!

[2021-04-09 18:11] Kaibob2 commented on #322
I cannot figure out what makes some messages fail.
These are the motion captures from the last 3 hours:
![SharedScreenshot](https://user-images.githubusercontent.com/20832276/114222632-1bb1f880-996f-11eb-9e1a-02ae3513afcf.jpg)

And these are the errors in the log:

[code]

[2021-04-09 18:13] Kaibob2 commented on #322
The encryption key is "22da599a7e75df1e7413f0394f256733" now.  Maybe you need this info.

[2021-04-09 20:22] Ernst79 commented on #292
I now have the following result (slightly modified compared to yours).

[code]

I'm thinking about creating a weight sensor and a impedance sensor, and one or two binary sensors for `load removed` and `is stabilized`.

Regarding the first two sensors, we now have two types of measurement sensors, one that collects data during the period set in the options, which averages the measurements e.g. each

[2021-04-10 06:04] serb1906 commented on #292
Ok, thank you.
It's scale with impedance measurement. `has impedance: 0` it's failed measure for this value and impedance value has 0 . It's no reason to ignore this value.  In first parsed packet `'impedance': 396, 'has impedance': 1`
It's "feature" of this scale and `impedance` can translate to other sensor and cards in HA to calculate many additional parameters.
About `load removed` you are rig

[2021-04-10 06:56] Ernst79 commented on #292
Thanks, I think you misunderstood me about `impedance`. I will of course add this measurement, but I propose to ignore the `impedance: 0` measurements with `has impedance: 0`. (So, only the 0 values)

otherwise, you will get a measurement that goes from 0 to some value all the time. I’ll create a beta this weekend, we can just try what works best.

[2021-04-10 07:14] xekil commented on #282
Sorry but I have checked everything, the key is good and it is correctly loaded by puttygen, but I saw on the other post that you had them given by another user, it's great because I also a V2 :)

[2021-04-10 07:16] xekil commented on #292
Good news, I also have V2 :)
Regarding the unstabilized data, I think we should not compensate them, I believe that this is how the addon of "lolouk44" works

https://github.com/lolouk44/hassio-addons/tree/master/mi-scale

[2021-04-10 07:54] Ernst79 commented on #292
@xekil, what do you mean with "not compensate them"? Do you mean to "not use these measurements"? Seems to make most sense, but just asking if I understand your right.

[2021-04-10 07:54] serb1906 commented on #292
Ok, now I understand =) I'm agree with your.

Now (with help of other project) we can see when data is unstabilized and ignore it

[2021-04-10 08:05] xekil commented on #292
I misspoke, I meant "ignore", but you finally got it :)

[2021-04-10 11:43] Ernst79 commented on #292
@serb1906 I'm not entirely sure about the `packet_id`. The parser is normally only processing data if the `packet_id` changes (is not the same as the previous value). But the value that you now use `[msv2_index + 4]`, this is also the control byte. Is this byte changed on every new message?

Otherwise, I make it like in the qingping parser, without a check on packet id.

[2021-04-10 13:28] serb1906 commented on #292
Oh, I made it for myself in draft and give a control byte like `packet_id` for less renaming =)
You can make this as you like
And another one thing, as I see now: after 2 hour of broadcast after last weighing a scale go to 'sleep mode' and all sensors set to state 'unavailable'.

[2021-04-10 13:34] serb1906 commented on #292
I think that we need to parse only new packet after weighting because all other packet is some identical
Now I send extended log (as first time I'm delete identical packet)
[home-assistant1.txt](https://github.com/custom-components/ble_monitor/files/6289931/home-assistant1.txt)

[2021-04-10 13:49] Ernst79 commented on #292
Ok, for now, I will use the control byte as packet_id and filter out doubles. When testing later, please keep this in mind, If it doesn't work as expected, we can always change this.

Regarding the unavailable state, I think this is standard HA behavior after not getting any data for a while. I'll look into that later, I first want to try to get the sensors working (almost finished).

[2021-04-10 13:59] serb1906 commented on #292
Ok

[2021-04-10 17:17] Ernst79 commented on #292
I've created a first draft ready for testing in the [mi-scales branch](https://github.com/custom-components/ble_monitor/tree/mi-scales/custom_components/ble_monitor). Currently only Xiaomi Mi Scale V2 is added.

To try out, install 1.5.2 first, next overwrite the following 4 files in the custom_component folder with the files from the mi-scale branch
- `__init__.py`
- `const.py`
- `sensor.py`
- `b

[2021-04-10 19:00] serb1906 commented on #292
I'm first =)
All work well and as described!
Weight 3 times: 1 - full cycle with impedance, 2 - without weight stabilized and 3 - without Impedance

![Clipboard02](https://user-images.githubusercontent.com/65442860/114281631-11176200-9a48-11eb-9d1d-7c6f246ffc56.jpg)

![Clipboard01](https://user-images.githubusercontent.com/65442860/114281566-b120bb80-9a47-11eb-819d-e2d58773b42b.jpg)

[2021-04-10 19:12] Ernst79 commented on #292
Great, let’s check if the measurement goes to unavailable after a while without new measurements.

[2021-04-10 19:15] serb1906 commented on #292
Ok, tomorrow morning I'll see it in sensor history.

[2021-04-11 06:19] serb1906 commented on #292
Thank you, Ernst! All sensor is available!

[2021-04-11 09:17] andrewjswan commented on #292
V1 supported?

вс, 11 апр. 2021 г., 09:19 serb1906 ***@***.***>:

[2021-04-11 09:23] Ernst79 commented on #292
@andrewjswan Not yet, but you can now enable `report_unknown` (and enable logging at info level, see below). I’ve added some some code for V1 scales to report the required data in the HA logs which I need to implement V1 scales. Could you collect some data? Implementing it will be simple if I have the data.

[code]

[2021-04-11 10:38] Ernst79 commented on #292
Do you know which scale is V1 and which V2? this is my first guess:

XMTZC01HM = V1
XMTZC02HM = V1
XMTZC03HM = ?
XMTZC04HM = V2
XMTZC05HM = V2

[2021-04-11 10:51] jascdk commented on #280
Hi Ernst. Uhhh - I never came any further - did not have the time. I will try to look into it ASAP:)

[2021-04-11 10:57] serb1906 commented on #292
**Weight only, V1**
XMTZC01HM - Old revision, Mi Smart Scale
XMTZC04HM - New revision (2019, BT5.0), Mi Smart Scale 2
**Weight and impedance, V2**
XMTZC02HM - old revision, Mi Body Composition Scale / Mi Body Fat Scale / Mi Smart Scale 2, sku LPN4008CN
XMTZC05HM - new revision (2019, BT5.0), Xiaomi Mi Body Composition Scale 2 / Xiaomi Mi Body Fat Scale 2 / Mi Smart Scale 2 (2019)
NUN4049CN - Chine

[2021-04-11 11:01] serb1906 commented on #292
About "naming" is a variant from Internet:
1) Mi Smart Scale 2 - Chines market, jin
2) Mi Body Composition Scale - Europe and Middle East market, MKS kg
3) Mi Body Fat Scale - USA market, Imperial pound

[2021-04-11 11:54] Ernst79 commented on #282
1.6.0 has been released with support for V2 scales. So, I think we can close this request. Feel free to reopen if it doesn't work.

[2021-04-11 11:54] #282 closed

[2021-04-11 12:00] Ernst79 commented on #292
1.6.0 has been released with support for the V2 scales. @serb1906 and @xekil thanks for the help.

**It's time to move on to the V1 scales.** I've added some code that allows you to use the `report_unknown` option for V1 scales, starting from 1.6.0. @andrewjswan or @jjusko could you enable `report_unknown` and enable logging with the configuration below. After a restart, please collect some data w

[2021-04-11 14:26] Kaibob2 commented on #292
This is the log output of a XMTZC04HM
The entry from 2021-04-11 16:18:54 equals 86.55kg
The entry from 2021-04-11 16:23:57 equals 91.25kg
The MAC of the scale is C8:47:8C:C0:95:89

[code]

[2021-04-11 14:47] xekil commented on #292
Wow, I'm on another problem for 1/2 days and when I come back the scale is taken care of, great !!!
but, but, not mine, yet it's a V2 -> XMTZC04HM !

[2021-04-11 14:50] Kaibob2 commented on #292
As stated in this table from a post above
[code]
I would say, that is the same scale than mine which appears to be V1

[2021-04-11 15:09] xekil commented on #292
yeap :)

[2021-04-11 15:20] serb1906 commented on #292
Hey, guys!
As I'm wrote (and in the other projects) V1 scale is weight only, V2 scale have impedance value =)

[2021-04-11 16:17] Ernst79 commented on #292
@Kaibob2 Thanks for the info. I'll continue with the V1 models (XMTZC01HM and XMTZC04HM) now. Please allow me a few days :-), I have all the info I need.

[2021-04-11 16:54] xekil commented on #292
it would be necessary to add like the other add on the notion of user for several people :)

[2021-04-11 17:21] rchovan opened #324 "As of Home Assistant 2021.6, this integration will no longer be loaded"
Hi,
there is new warning message in HA logs:
[code]

[2021-04-11 17:25] bentolor commented on #324
I get the same for the `ble_monitor` component. I have installed it with the [manual installation method](https://github.com/custom-components/ble_monitor#2-install-the-custom-integration)

[2021-04-11 17:28] serb1906 commented on #292
Heh, I'm agree too! I see this one as ESPhome addition, but I hope than can use in our solution:
[https://github.com/dckiller51/bodymiscale](https://github.com/dckiller51/bodymiscale)

Anybody know about analog MQTT "retain" flag or other solution for HA sensors (after restart HA all sensors will be 'unavailable') ?

[2021-04-11 18:05] Ernst79 commented on #324
@rchovan, This is an error from `mitemp_bt`. Our component has been renamed a long time ago to `ble_monitor`. Please remove the `mitemp_bt` folder and install `ble_monitor`

@bentolor You probably have an old version. It won't be updated, because you installed it manually. I suggest to start using HACS, as this will keep track of updates. However, if you want to stay with the manual installation m

[2021-04-11 18:16] Ernst79 commented on #292
BLE monitor has the option `restore_state` for that. Can be set at integration level, or at the level of the device. Restore state will make the sensor state being restored after a restart to the state as before the restart.

![image](https://user-images.githubusercontent.com/24375847/114316157-a840f000-9b02-11eb-81f9-9f40ee2c507c.png)

[2021-04-11 18:17] serb1906 commented on #292
Thank you, now I'll try

[2021-04-11 19:13] Ernst79 commented on #292
In the entry from 16:18:54, the BLE message says that `weight_removed = false` and the `weight = 86,55 kg`, which looks OK
In the entry from 16:23:57, the BLE message says that `weight_removed = true` and the `weight = 0,1 kg`, which is different compared to your explanation.

@serb1906 This behavior of V1 scale seems to be different compared to the V2 scale. Does your measurements return to 0 kg,

[2021-04-11 19:27] serb1906 commented on #292
No, in full log you can see it

[2021-04-11 19:32] xekil commented on #292
maybe the value is not stabilized, you have to stay on the scale for a few seconds when its flashes for the fixed value to be sent

[2021-04-11 19:35] serb1906 commented on #292
I saw it moment in BLEruino code and think that for V1 moment for parsing will be `isStabilized & !weight_removed == True` at the end of weight process before someone leave a scale

[2021-04-11 19:41] Kaibob2 commented on #292
For some reason the log now gets spammed with entries even if i don't even touch the scale:
Somewhere at the very end is a real measurement which read 87.15kg on the scale.
I stepped off the scale after the digits stopped blinking.
[code]

[2021-04-11 19:43] Kaibob2 commented on #292
The "spamming" stops when i remove the batteries from the scale and starts again after around 30 seconds when put the batteries back in.

[2021-04-11 19:48] Kaibob2 commented on #292
Maybe the timestamp isn't the one which contains the measurement i read on the scale itself. I wasn't aware, that the scale sends BLE messages the whole time and implied, that the last entry in the log is the current measurement. Sorry for the confusion.

[2021-04-11 19:50] Ernst79 commented on #292
No problem, I think I got it. I needed the one from 16:17:55

16:17:55 `weight_removed = true (32)` `stabilized = false (32)` and the `weight = 86.55 kg`
16:18:54, `weight_removed = false (0)`, `stabilized = false (0)`, and the `weight = 86.55 kg`
16:23:57  `weight_removed = true (32)` `stabilized = false (32)` and the `weight = 0,1 kg`

I think we should check that the measurement is stabilized a

[2021-04-11 20:00] serb1906 commented on #292
My V2 scale send BLE advertisment 2 hour after last weight process.
But for good result may you make some:
1. Stay at scale, wait a result (digit blinking) and leave
2. Wait 10 second, stay at scale again at 1-2 second and leave it before blinking
3. Wait 10 second, stay at scale , wait a result (digit blinking) and leave.
Send a new log
I think that logic V1 also as V2 but it need to check

[2021-04-12 06:14] Kaibob2 commented on #292
The scale was off for the night and not sending BLE messages.
I stepped on it shortly to turn it on and left it again. Messages started to fill the log.
Then i did:

1. Stay at scale, wait a result (digit blinking) and leave
2. Wait 10 second, stay at scale again at 1-2 second and leave it before blinking
3. Wait 10 second, stay at scale , wait a result (digit blinking) and leave.

The first "blin

[2021-04-12 06:27] Ernst79 commented on #292
Thanks, I'll continue tonight (have to do some work first :-).

I'm almost finished, only thing left is this last piece of the puzzle.

[2021-04-12 06:36] Kaibob2 commented on #292
Great, i would be happy to test. Integrating the scale was on my wishlist for quite some time.
Btw. I saw this integration https://github.com/lolouk44/hassio-addons/tree/master/mi-scale and found the option to specify different "Users" by specifying a weight range very useful. My wife is much lighter than me :) and my daughter as well. With these "Profiles" everyone in the house could just step on

[2021-04-12 06:52] Ernst79 commented on #292
I have to think about this. At first sight, I would say it should be better if these features were developed as an independent integration. This integration should take the weight as input sensor and can do the logic in separating the measurements to persons, calculating BMI etc. If it is made as in independent integration, it can work with any weight sensor, not only the weight sensor of BLE moni

[2021-04-12 06:56] xekil commented on #292
@Ernst79 Great news, thank you for your investment

[2021-04-12 07:53] Kaibob2 commented on #292
@Ernst79 I see your point. Haven't thought about this, but makes perfect sense. I will make a few template sensors then...

[2021-04-12 07:55] Ernst79 commented on #292
Ok, couldn't wait to analyze and found the issue. I made a mistake in my previous analysis when `weight removed` and `stabilized` is true or false.
Scroll the table to the right. s = Stabilized, wr = Weight removed.

So, I guess when the measurement is stabilized = True, we have a good measurement. Similar as V2. I'll create the beta tonight.

[code]

[2021-04-12 07:57] Ernst79 commented on #292
@Kaibob2 Lets first find out if there isn't an custom component for this. There is probably someone in the world who has already done this.

[2021-04-12 08:42] Kaibob2 commented on #292
Great job! Looks very promising

[2021-04-12 08:45] Kaibob2 commented on #322
I just leave this here. The error still comes up non regularly.

[code]

[2021-04-12 08:50] andrewjswan commented on #292
https://github.com/esphome/esphome/pull/1368

[2021-04-12 09:19] Ernst79 commented on #292
They seem to refer to this component. https://github.com/dckiller51/bodymiscale

Looks like this could work, but they explicitly mention ESPHome. Not sure is it works in general. I will try later

[2021-04-12 09:28] Kaibob2 commented on #292
I just installed the ESPhome beta 1.17.0b1, added the below code to the config of an existing ESP32cam and flashed it.
Works perfect. Three new sensors in HA and only the one which meets the weight range gets updated. Perfect!

[code]

[2021-04-12 09:44] Ernst79 commented on #292
That's not what I meant, running over to ESPHome :-)

[2021-04-12 10:15] dckiller51 commented on #292
You can set it up to work as long as you give it the sensor weight for miscale 1 and sensor impedance + for miscale 2.
Elsewhere I have a code error which generates an error at startup in the day if you have the skills to correct it would be fine. I am limited in coding.

[2021-04-12 11:17] Kaibob2 commented on #292
:) No fear. It was just a very easy way to test what it will be like. I have ESPHome in use widely and it was just a copy/paste action.
As soon as i get a value from BLE monitor i will divide it to Users in Node Red. Just tested this variant and it works like a charm. Changing the values is as easy as it can be and i can also further process the value and maybe give Feedback via Alexa saying i'm b

[2021-04-12 11:38] Ernst79 commented on #292
I have it running with the [bodymiscale component](https://github.com/dckiller51/bodymiscale) of @dckiller. This component doesn't do the splitting up of the weight into different users, but you can use a template sensor for that. The component does give an error at startup, but seems to work fine. @dckiller51 I will have a look at the error later, to see if I can fix this.

[code]

![image](https

[2021-04-12 13:20] Ernst79 commented on #292
Xiaomi Mi Scale V1 support is ready for testing. To test, install **version 1.6.1-beta**.  I also would like the V2 users to ask to test this version, as I had to make the parser universal for V1 and V2, so I might have broken something. Please report back if it works ok and mention the version you use.

For the **V2 users**, I've made the following change.

- `load removed` sensor has been rename

[2021-04-12 14:10] Kaibob2 commented on #292
I installed 1.6.1-beta but it's not working reliable. The `binary_sensor.ble_weight_removed_c8478cc09589` for my scale works instantly, but the `sensor.ble_weight_c8478cc09589` only get's a value very very randomly.

[2021-04-12 14:27] Ernst79 commented on #292
This is the "logic" I implemented

[code]

So `weight_removed` is updated in every message.
`weight` is only reported when the scale is `stabilized`. When it's stabilized, the measurement is constant. But if you step of the scale too soon, it won't be used at the moment.

- First question, when you know the above, does the sensor works as described?
- Second question to all, I can make a second `n

[2021-04-12 14:27] Kaibob2 commented on #292
I suppose the default for `binary_sensor.ble_weight_removed` should be ON, but when i step off the scale AFTER the digits blink the `binary_sensor.ble_weight_removed` stays OFF. Hard to explain, i try it different:

- Scale is off
- `binary_sensor.ble_weight_removed` is ON
- I lay my foot on it
- The digits jump up and down but don't settle somewhere.
- The `binary_sensor.ble_weight_removed` switc

[2021-04-12 14:32] Kaibob2 commented on #292
I'm afraid no. See above post.

Maybe at least for verification and remove in the stable version.

[2021-04-12 14:36] Ernst79 commented on #292
But the `weight` sensor, does that one works as described?

[2021-04-12 14:38] Kaibob2 commented on #292
No, I once got a value. But tested it a dozen times with different variations of stepping onto and off the scale.

[2021-04-12 14:41] Ernst79 commented on #292
Hmmm, ok, I'll create a non-stabilized weight sensor and add attributes like `is Stabilized` and `Weight removed`

[2021-04-12 15:31] Ernst79 commented on #292
1.6.2-beta has been released. Added a `non-stabilized weight` sensor. Also check the attributes, which should report `stabilized` and `weight removed` state. Hopefully this will give you some more information

![image](https://user-images.githubusercontent.com/24375847/114420473-a5063c80-9bb4-11eb-8d0d-9af9c0bcb06b.png)

[2021-04-12 15:53] Kaibob2 commented on #292
The stabilized attribute only becomes true randomly. Most of the time it stays false.
The live reading on `sensor.ble_non_stabilized_weight` works.

[2021-04-12 16:15] Kaibob2 commented on #292
Please see the video below. The scale was off, i stepped on it, moved a little up and down to have some jumping values and stood still afterwards. Then the digits blinked and a stayed on the scale some more seconds until i stepped off it. The digits turned off and i stopped the recording.

https://user-images.githubusercontent.com/20832276/114427140-121cd080-9bbb-11eb-97b5-5cd63188b7bb.mp4

[2021-04-12 16:18] Kaibob2 commented on #292
This happens when the scale is off and i only touch it a little with my foot for a few seconds and then leave it alone.

https://user-images.githubusercontent.com/20832276/114427564-7d66a280-9bbb-11eb-86ba-c4c5583c17e6.mp4

[2021-04-12 17:14] Ernst79 commented on #292
Based on the videos, I think there is an issue with the `is Stabilized` attribute. In never see it turn into True, which also means that it won't update the weight. I have to think what goes wrong.......

[2021-04-12 17:25] Kaibob2 commented on #292
Not always. Sometimes it becomes true.
But I cannot figure out when it does and when not. It's weird.

https://user-images.githubusercontent.com/20832276/114435678-b8210880-9bc4-11eb-9a3e-b2e29c1fdecc.mp4

[2021-04-12 17:26] Kaibob2 commented on #292
Scale was off. Stepped on it and waited until it stopped blinking

[2021-04-12 17:28] Ernst79 commented on #292
This last movie looked OK, like you would expect.

[2021-04-12 17:37] Kaibob2 commented on #292
Uploading Screen_Recording_20210412-193649_Samsung Internet.mp4…

[2021-04-12 17:38] Ernst79 commented on #292
You might want to add the following line after line 811 in `sensor.py`

[code]

to get the normal weight sensor as an attribute in one view

[2021-04-12 18:01] Ernst79 commented on #292
Could you try the following? In `__init__.py` replace line 603-636 with

[code]

and in `sensor.py`, add the following line after line 811.

[code]

This will give you two extra attributes. Can you make another movie of a failing measurement.

[2021-04-12 18:34] Kaibob2 commented on #292
https://user-images.githubusercontent.com/20832276/114443797-67aea880-9bce-11eb-881e-3ec79d898ae9.mp4

[2021-04-12 18:36] Kaibob2 commented on #292
I hope this video is self explanationary :)
If i remember right it's two normal weighing cycles, then jumping, then foot only

[2021-04-12 20:07] Ernst79 commented on #292
Could you try one more thing? Try waiting a bit longer after it is blinking. Just wait 15 seconds and check if it is stabililized in HA.

[2021-04-12 20:50] serb1906 commented on #292
My small report:
I'm install 1.6.1beta1 and make a one full weight cycle (with impedance measuring). All is working now.

[2021-04-13 05:18] Kaibob2 commented on #292
Scale is off and not sending BLE. First test after night.
Stepped on scale and just waited 30s

https://user-images.githubusercontent.com/20832276/114500491-66aa6500-9c28-11eb-86ab-44557380fb13.mp4

[2021-04-13 05:19] Kaibob2 commented on #292
Second test. Did some low weight foot tipping before. Then stepped on the scale and waited again.

https://user-images.githubusercontent.com/20832276/114500575-95c0d680-9c28-11eb-9735-0caf2703c3ce.mp4

[2021-04-13 06:22] Kaibob2 commented on #292
https://user-images.githubusercontent.com/20832276/114505947-69f61e80-9c31-11eb-8962-3fd9531f0875.mp4

[2021-04-13 07:02] Ernst79 commented on #292
Found the problem. It's the `packet_id` filtering. A Data Value which starts with `02` converts to a packet id (integer) of `32`, while a Data Value starting with `a2` also converts to an integer of `32`. As both are the same, the second message is ignored.

`a2` is generally followed after `02`

I'll prepare a fix a.s.a.p.

[2021-04-13 08:11] Ernst79 commented on #292
1.6.3-beta is released, which should fix the issue. I changed the `packet_id` to the entire data value, so will now only filter exact duplicate messages.

[2021-04-13 08:23] Kaibob2 commented on #292
Great job. I would say it's working as supposed.
Two standard weight cycles:
https://user-images.githubusercontent.com/20832276/114520889-2f48b200-9c42-11eb-8142-9aeecdd2f7ba.mp4

[2021-04-13 08:49] Ernst79 commented on #292
Great, thanks for helping with testing. If no problems arise today, I'll make the final release tonight.

[2021-04-13 09:02] serb1906 commented on #292
Ernst, I have some problem with 1.6.1beta - with cheked "Restore state" in Intergration value not restore after HA restart.
And can I paste this code from ESPruino project about Xiaomi scales parsing:
[code]
May be it can help you with final release... (it's JS)

[2021-04-13 09:20] Kaibob2 commented on #292
I'm glad i could help. Like i said before, implementing the scale was on my wishlist quite long :)
I agree with serb1906 that when i add `restore_state: True` in my YAML config the scale value does not restore and the entity remains unavailable until i touch the scale.

[2021-04-13 09:25] Kaibob2 commented on #292
Is there any drawback with keeping the unstabilized sensor? It is pretty neat to have a swinging gauge while measuring. But this would only be cosmetic, and if there's a reason for removing it i'm d'accord :)
Thanks for your effort and all the best...

[2021-04-13 09:29] Ernst79 commented on #292
I will keep the non-stabilized sensor as it is now. If the data is there, there is always someone who wants to use it. And if you don't want it, just remove/block it in HA.

I will check the `restore state` issue. In UI configuration, it seems to work fine. I'll check in YAML mode later.

@serb1906 Thanks for the code, I used that code already to parse the messages. That part is working fine now.

[2021-04-13 09:36] serb1906 commented on #292
I'm configure in UI-mode, without YAML now,

[2021-04-13 20:29] think-nice-things commented on #3
If the LYWSD03MMC is flashed according to https://github.com/pvvx/ATC_MiThermometer with an alternative firmware there is an option to cycle the display to show the actual values of temp and humidity and to show custom values which can be sent to the device with https://pvvx.github.io/ATC_MiThermometer/TelinkMiFlasher.html.

I've a couple of outdoor temperature and humidity sensors.
It would be gr

[2021-04-14 07:54] dckiller51 commented on #292
Off topic. Here is a node red to select the person who weighs himself via action notification. As we are limited to 3 actions I split the + 50kg and -50kg

`[{"id":"449ac5cc.7a0abc","type":"tab","label":"Balance Connectée","disabled":false,"info":""},{"id":"54855646.8cde28","type":"server-state-changed","z":"449ac5cc.7a0abc","name":"Poids","server":"a8c279c8.be8be8","version":1,"exposeToHomeAssist

[2021-04-14 08:09] Ernst79 commented on #324
I'm closing this issue. See the above post for the solution (in short delete `mitemp_bt` and install the latest version of `ble_monitor`)

If you still have issues, feel free to reopen the issue.

[2021-04-14 08:09] #324 closed

[2021-04-14 08:23] Ernst79 opened #326 "Restore state isn't working"
Users reported in #292 that the `restore_state` isn't working as expected,

@serb1906

@Kaibob2

@serb1906 uses UI config, @Kaibob2 YAML config.

I noticed similar behavior for one of my binary sensors, but didn't notice it on measuring sensors.

I'm currently thinking that `ble_monitor` is restoring the state when the first message arrived for a specific device, so restoring state isn't done righ

[2021-04-14 08:39] Ernst79 commented on #292
I've created #326 for the `restore_state` issue. I'm afraid this issues requires some work to figure out what is wrong, I have some suspicion, but it will take me quite some time to figure out and fix it, I expect.

So, I propose we merge the scale V1, as the `restore_state` seems to be a general issue (not caused by the Mi Scale branch)

[2021-04-14 08:44] bentolor commented on #324
@Ernst79 Thanks for your support! In my case indeed my fault. I updated last on Apr. 5 and missed that the fixed arrived after.

I moved aways from HACS as it cause _huuuuge_ delays in startup and I had no relevant amount of custom components up to date.

[2021-04-14 12:01] Ernst79 commented on #3
Nice idea. However, BLE monitor is a passive Bluetooth integration, which means that it is only listening passively to BLE messages which are send through the air by the sensors (without connection to the sensor and asking for the data).

The idea you have would require setting up a connection to the LYWSD03MMC and sending data to the sensor.

I think it would be easier to write a separate integra

[2021-04-14 15:48] Kaibob2 commented on #326
I have four LYWSD03MMC with ATC firmware (configured to send a message every minute) and the value is there right after a restart. The scale value is not restored and the sensor is unavailable.

Before restart:
![SharedScreenshot1](https://user-images.githubusercontent.com/20832276/114739703-6655bb00-9d49-11eb-808f-949a306f9023.jpg)

After restart:
![SharedScreenshot2](https://user-images.githubus

[2021-04-14 17:00] Kaibob2 commented on #326
The MJYD02YL sensors restore as well. Forgot to mention in my last post.

[2021-04-14 18:12] stylishkrio commented on #320
Data on version 1.6.0 is updated correctly.

[2021-04-14 18:12] stylishkrio commented on #320
Data on version 1.6.0 is updated correctly.

[2021-04-14 18:19] Ernst79 commented on #320
Ok, thanks for reporting back. I suppose we can close the issue then. Feel free to reopen if you still have issues.

[2021-04-14 18:19] #320 closed

[2021-04-14 19:09] serb1906 commented on #326
I have other one LYWSDCGQ and it sensor in HA also not restore after HA restart (i'm removed a battery before restart).

[2021-04-14 19:23] Ernst79 commented on #326
Thanks, I figured out that it is only restoring the state after HA receives the first message of each device. The first message is the trigger to add a device to HA, and somewhere in this process there is the restore state process, which restores the state of all sensors of that specific device.

So, at this moment it works as follows.
- Without restore state you have to wait till the end of the `

[2021-04-15 06:20] Ernst79 commented on #322
I'll look into this problem later. Problem is that it just can't decrypt the message, as the decrypting pypi package says that the encryption key is wrong.

For now, just ignore the errors. I first want to fix the restore_state issue.

[2021-04-15 06:22] Ernst79 commented on #292
1.7.0 has been released.

As discussed, `restore_state` issue will be fixed later, as it is a general issue, see #326.

Thanks for the help and testing

[2021-04-15 06:23] #292 closed

[2021-04-15 14:33] andrewjswan commented on #322
I have such an error also occurs, but usually with one sensor, which is located farthest away, its RSSI is at the limit, perhaps when forwarding interference occurs. And then the package can not be decrypted. The biggest time lag I had was 3 hours, then the sensor began to update further.

[2021-04-15 14:59] Kaibob2 commented on #322
Interesting point. The RSSI of my MJYD02YL is at -92. This isn't really much. I moved it closer to the bluetooth receiver now for testing. RSSI is at -52 now. Will report if this changes anything.
One of the LYWSD03MMC is even farther away, but its RSSI is -80. The other three LYWSD03MMC are at -79, -70 and -54

[2021-04-15 15:58] andrewjswan commented on #322
My problem sensor with RSSI -88..-90

[2021-04-15 16:57] Kaibob2 commented on #322
I'm afraid, but moving the sensor closer didn't do the trick. I already had two failed messages within the last two hours.

[2021-04-15 17:28] Ernst79 commented on #322
Could you change line 1039 and 1040 in `__init__.py` from

[code]

to

[code]

It will give me the full data, so I can check if the parser passes the correct data to the decrypter pypi package? Please post one error (consisting out of 6 Error lines in the log).

[2021-04-16 07:59] Kaibob2 commented on #322
This is the log output of nine failed messages:
[code]

The encryption key is:
`22da599a7e75df1e7413f0394f256733`

[2021-04-16 18:47] maxmib opened #327 "No device found"
Home Assistant 2021.3.4  python3.9  venv
After setting ,no device found .But my machine can find lots of devices when I use command "hcitool lescan " manually.
 Debug log in homeassistant is below .

2021-04-17 02:33:23 DEBUG (MainThread) [custom_components.ble_monitor.config_flow] async_step_init user_input: None
2021-04-17 02:33:23 DEBUG (MainThread) [custom_components.ble_monitor.config_flow] a

[2021-04-16 18:59] Ernst79 commented on #327
When you use `hcitool lescan`, can it find data of these two MAC addresses? BLE monitor logs say that it didn't receive any data which follows Xiaomi MiBeacon, Qingping or ATC format. "hcitool lescan" will find many more devices, like phones, PC's etc.

Try to find the MAC address (reversed per two characters) of the sensors by looking in the hcitool lescan data. So, for 50:EC:50:CE:6A:E4, it will

[2021-04-16 19:09] maxmib commented on #327
Data of these two mac address can be found in lescan data.And compared with others' debug logs ,there is not 'hcidump:connected to hci0 'in mine.Can this be the problem?

[2021-04-16 19:15] Ernst79 commented on #327
Yes, that can be a problem. The option `hci_interface` will overrule `bt_interface`, when used both at the same time.

[2021-04-17 04:01] maxmib commented on #327
I only use web interface to configure this integration.So the option bt_interface works.But still no idea about why no device can be found.

[2021-04-17 08:34] Ernst79 commented on #327
Ah, sorry. I thought you use YAML configuration. In case of configuration in the UI, it is ok to see both `hci_interface` and `bt_interface`. But they should refer to the same device. Can you show the output of the following command: `hcitool dev`. It normally shows something like this

[code]

And did you follow [step 1 of the installation process](https://github.com/custom-components/ble_monitor

[2021-04-17 13:45] azlux opened #328 "Multiple devices warning"
Hello,
I'm quite new on home assistant. I've make the ble monitor work, thank for that, it's a really great tool.
I've have a small issue, maybe not related to this project.
Here is my config related to my two thermometers:
[code]

I have a beatufull warning on my logs : `2021-04-17 01:12:28 WARNING (SyncWorker_1) [homeassistant.util.yaml.loader] YAML file /config/configuration.yaml contains dupli

[2021-04-17 13:58] Ernst79 commented on #328
Are you sure you didn't make a mistake. This should be OK.

[code]

[2021-04-17 14:06] azlux commented on #328
Ho, I see, when I write the correct config, the Living device is know as living_2. Home assistant understand it as a new device. Sorry for the issue.

[2021-04-17 14:08] #328 closed

[2021-04-17 14:13] Ernst79 commented on #328
Yes, HA sometimes adds a number, if the entity already exists.

[2021-04-17 15:03] maxmib commented on #327
![1618671094(1)](https://user-images.githubusercontent.com/30944505/115117109-8e565000-9fcf-11eb-8589-b2d4e440ef61.jpg)

![1618671183(1)](https://user-images.githubusercontent.com/30944505/115117143-b47bf000-9fcf-11eb-9fa2-dbaca128622b.jpg)

output after command sudo getcap `readlink -f \`which python3.9\``
and the venv is created with  same python version than used by HA ,which is python 3.9
![16

[2021-04-17 16:50] Ernst79 commented on #327
This is definitely weird. It should normally show this message, and it doesn't show an error.

Could you try to change the following code in `__init__.py` line 800-805

[code]

to

[code]

[2021-04-17 17:13] maxmib commented on #327
this is the debug log

2021-04-18 01:11:21 DEBUG (MainThread) [custom_components.ble_monitor] HCI interface is [0]
2021-04-18 01:11:21 DEBUG (MainThread) [custom_components.ble_monitor] Spawning HCIdump thread
2021-04-18 01:11:21 DEBUG (MainThread) [custom_components.ble_monitor] HCIdump thread: Init
2021-04-18 01:11:21 DEBUG (MainThread) [custom_components.ble_monitor] 1 encryptors mac:key pairs

[2021-04-17 17:20] Ernst79 commented on #327
Ah, you have the famous AF_BLUETOOTH error

`HCIdump thread: Error (hci0): module 'socket' has no attribute 'AF_BLUETOOTH'`

The issue and solution is explained here in the [FAQ](https://github.com/custom-components/ble_monitor/blob/master/faq.md#i-get-attributeerror-module-socket-has-no-attribute-af_bluetooth-in-home-assistant-after-the-installation-or-python-upgrade). You are not the first.

Bas

[2021-04-17 19:00] maxmib commented on #327
this is the new debug log after rebuilding python

2021-04-18 02:52:58 DEBUG (MainThread) [custom_components.ble_monitor] HCI interface is [0]
2021-04-18 02:52:58 DEBUG (MainThread) [custom_components.ble_monitor] Spawning HCIdump thread
2021-04-18 02:52:58 DEBUG (MainThread) [custom_components.ble_monitor] HCIdump thread: Init
2021-04-18 02:52:58 DEBUG (MainThread) [custom_components.ble_monitor]

[2021-04-17 21:48] Ernst79 commented on #327
Did you try this?

[code]

[2021-04-18 04:27] maxmib commented on #327
After run setcap 'cap_net_raw,cap_net_admin+eip' `readlink -f \`which python3.9\`` under root user ,it works .
And I want to make sure that this command should run under root user or run after switching to venv ?

ps: the solution for   Warning Log: Cannot set filter: libpcap is not available. Cannot compile filter !
https://github.com/home-assistant/core/issues/45846

[2021-04-18 09:06] Ernst79 commented on #327
You run it as root. ThE command gives Python rootless access to the HCI interface

[2021-04-18 09:14] #327 closed

[2021-04-18 14:20] pilot1981 opened #329 "Power state of XIAOMI MOSQUITO SMART REPELLENT"
Hi,
It’s possibile to add also power state on/off for XIAOMI MOSQUITO SMART REPELLENT?

regards

[2021-04-18 17:07] Ernst79 commented on #329
What do you mean with power state?

At the moment, WX08ZM has support for these three sensors
- battery
- switch (on/off state)
- consumable sensor (in percentage)

In ESPHome, there is support for  "tablet resource level, on/off state and battery level', which are the same three sensors.

Isn't power state not the same as the current switch sensor?

[2021-04-18 18:32] pilot1981 commented on #329
Switch state seems to don’t works...

[2021-04-18 19:53] jatgm1 opened #330 "Including triggered device name in message"
How do I add the name of the device that was triggered to the notification alarmo sends out? I tried {{trigger.to_state.attributes.friendly_name}} and got trigger not defined.

[2021-04-18 20:42] Ernst79 commented on #329
Can you check which entities are part of the device in HA? Settings - Devices - select your repellent device. Normally it should be added automatically.

If the switch binary sensor is present, what it the state of the sensor?

[2021-04-18 20:57] Ernst79 commented on #330
Can you show the full automation?

[2021-04-19 07:10] think-nice-things commented on #326
Hi,
I can just confirm that restore_state doesn't work for the Mi Scale 2 :-(

[2021-04-19 07:19] Ernst79 commented on #326
Yes, I know. Working on that now. Almost finished, but it required some rewriting of the code.

[2021-04-19 07:20] pilot1981 commented on #329
sensor.ble_switch_mosquito

or

binary_sensor.ble_switch_mosquito

[2021-04-19 07:24] Ernst79 commented on #329
A switch is always a Binary sensor, so `binary_sensor.ble_switch_mosquito`

[2021-04-19 18:31] millercentral opened #331 "Request to add new BLE Device: Kegtron"
This is a request to add support for a non-Xiaomi sensor to Passive BLE Scanner. The device is a flow monitor for Kegerators called "Kegtron".

Website for the device: [https://kegtron.com/gen1/](https://kegtron.com/gen1)

The BLE Advertisement Protocol for the device is documented here; [BLE Message Format](https://kegtron.com/docs/Gen1BLEMessageFormat.pdf)

Note, there are two versions of this d

[2021-04-20 05:36] Ernst79 commented on #331
I will look into it. If needed, I’ll prepare a version which allows you to use the report_unknown function. This will not work for this sensor at the moment, as it is not recognized as being a Xiaomi, ATC or qingping sensor.

[2021-04-20 15:12] millercentral commented on #331
Thank you very much. Happy to help/test in any way I can.

[2021-04-21 17:41] Ernst79 commented on #331
Can you do me a favor? I've added the `report_unknown` functionality for Kegtron devices. Could you do the following.

- Replace the content of `__init__.py` in your custom component folder with the contents of [`__init__.py` in the Kegtron branch](https://github.com/custom-components/ble_monitor/blob/kegtron/custom_components/ble_monitor/__init__.py)
- enable `report_unknown`
- add logging at `in

[2021-04-21 18:14] millercentral commented on #331
I might of done something wrong, I get this error on reload (active scan not set):

[code]

Here is my config entries:
[code]

[2021-04-21 18:25] Ernst79 commented on #331
Sorry, my mistake,

I've added line 1453 in [`__init__.py`](https://github.com/custom-components/ble_monitor/blob/kegtron/custom_components/ble_monitor/__init__.py) to fix it. Have to do it without being able to test the code myself :-)

Can you try again

[2021-04-21 18:34] millercentral commented on #331
Here is a quick capture (active scan not enabled in my config), let me know if you want it to run longer or if anything doesn't look right.
[home-assistant.log](https://github.com/custom-components/ble_monitor/files/6353138/home-assistant.log)

[2021-04-21 21:40] Ernst79 commented on #331
Thanks, this is all I need. Have to solve another issue first, will then continue with this.

[2021-04-22 19:11] Kaibob2 commented on #326
There is a problem which i think might be related to the restore state issue but i'm not sure how to verify.
I have a nodered flow which creates three entities for three different weight ranges. This works fine as long as i don't restart HA during a phase while the scale doesn't send any messages. If so, the scale entity stays unavailable and if i step on it it becoes available and the entity get'

[2021-04-22 19:36] Ernst79 commented on #326
I've prepared a 1.7.1-beta, which should fix this issue. Please give it a try and report back if it works.

To explain what was wrong, in the old situation, it restored the state upon the first BLE message. For scales, this doesn't work, as it only sends data when stepped on. So I changed it to restore upon restart, but your sensors' MAC address has to be configured in the options. When you use th

[2021-04-23 06:03] Ernst79 commented on #321
This issue is fixed in 1.7.2-beta.

[2021-04-23 06:06] Ernst79 commented on #329
Can you explain what isn't working exactly. Do you see the binary sensor? Is it unavailable/unknown?

[2021-04-23 06:12] pilot1981 commented on #329
Binary sensor is working fine

What I have to do with sensor?

[2021-04-23 06:36] Ernst79 commented on #329
`sensor.ble_switch_mosquito` is a left over from an early version of BLE monitor (in the beginning, we didn't had binary sensors, only sensors). You can delete it safely.

[2021-04-23 07:57] pilot1981 commented on #329
ok, thanks for explantation|

[2021-04-23 08:35] #329 closed

[2021-04-24 13:07] Ernst79 commented on #331
I've made a first start to analyze the data. I found 2 types of advertisements in your data, lets call them short and long.

**Long advertisments**
First the long advertisements. This seems to follow the format that is described in the documentation in the chapter "Scan Response Data".

line 1. The first line is the index of the bytes
line 2-4. The next three lines are the example given in the [do

[2021-04-24 19:47] millercentral commented on #331
Hi, thanks for investigating.  The version I have has support for two kegs. Its only MAC address (as far as I know) is D0:CF:5E:5C:9B:75.

Each interesting message ends with a string of the name of the keg that I set in its app. So you should see one that shows:
[code]
Which I suppose are the "long" when active scan is enabled, alternating every 500ms or so.

[2021-04-24 20:22] KMDobrev opened #332 "YM-K1501EU"
Hello, I have added Xiaomi brand kettle Home Assistant. I can see its general status, but I cannot turn it on or off. I added "**binary_sensor.ble_switch**" as a button but it doesn't work. Where am I making a mistake?

My yaml file

[code]

![444](https://user-images.githubusercontent.com/77675496/115971960-f961d280-a54b-11eb-839b-6fd8d6f3e649.png)
![RR](https://user-images.githubusercontent.com/

[2021-04-24 21:04] millercentral commented on #331
I think 74:48:4D:B8:0F:F3 is a different random device in my house. Not sure how to identify what it is, but I don't think it is related to the kegtron.

[2021-04-25 07:05] Ernst79 commented on #331
Thanks, I finished the decoding in useful readable data. Last step is to create the sensors, hope to finish that today or tomorrow.

[2021-04-25 07:55] Ernst79 commented on #332
Passive BLE monitor is **passively** listening to messages that are send into the air. This means it can't send data, so it can't send a switch command to a kettle.

Unfortunately, sending data is out of the scope of this integration. There are more kettle integrations, but I'm not sure if these support sending data to turn it on/off.

This one seems to be able to set some settings, but I'm not su

[2021-04-25 07:56] Ernst79 commented on #326
@Kaibob2, @serb1906 Did you had a chance to test it with 1.7.2-beta?

[2021-04-25 08:24] Kaibob2 commented on #326
Sorry, I only had little time since I updated to 1.7.2-beta. Until now everything is working as expected. All sensors restore on startup and the issue described under https://github.com/custom-components/ble_monitor/issues/326#issuecomment-825115167 is no more existent. I'm pretty happy with it.

[2021-04-25 10:00] Ernst79 commented on #331
I'm creating three sensors (don't look at the numbers, I use a dummy value).

![image](https://user-images.githubusercontent.com/24375847/115989170-53e74700-a5bd-11eb-97e4-c7080a6d95ee.png)

![image](https://user-images.githubusercontent.com/24375847/115989161-4336d100-a5bd-11eb-91b8-0d7c61c42cfc.png)

The other port parameters, I will add as attributes.

I used the keg icon, or do you prefer some

[2021-04-25 10:11] Ernst79 commented on #326
Thanks, 1.7.2 (final) has been released.

[2021-04-25 10:11] #326 closed

[2021-04-25 10:11] Ernst79 commented on #321
1.7.2 has been released, which should fix this issue.

[2021-04-25 10:12] Ernst79 commented on #310
Any update on this issue, or can it be closed

[2021-04-25 11:07] Ernst79 commented on #331
1.8.0-beta has been released, please give it a try. You have to enable `active_scan`, otherwise it won't work.

Let me know if the names and icons of the sensors and attributes are OK. I tried to stick with the names in the documentation.

[2021-04-25 22:36] millercentral commented on #331
Hi!

This works, sortof. I installed the 1.8.0-beta, and the kegtron device and the sensors you describe do show up, but there are a few issues (or misunderstandings by me, not sure which). Notes:

Kegtron shows up in the list of devices, with the keg size, volume dispensed and volume start sensors (cool icon!). However the sensors constantly toggle between the values of the two ports on the devic

[2021-04-26 00:44] millercentral commented on #331
Thinking more about the sensors vs attributes....

* I think the only sensor entity needed is "Volume dispensed", with distinct entities for each port index (create one or two entitles based on the "port count" attribute of the Port/State byte.
* "Port Name", "Keg Size", and "Volume Start" are all static values that are provided in the configuration app. These can just be attributes to the Volume

[2021-04-26 05:37] Ernst79 commented on #331
Yes, I think all points should be possible. I’ll look into it in the coming days.

[2021-04-26 09:19] xekil opened #335 "Add support Yeelight bedside lamp (Bluetooth)"
Hello,

Would it be possible to add support for the Yeelight  bedside lamp (Bluetooth).
There is an integration but it gives me a lot of problem, there is a lot of error and it I have the impression that it interferes with the BLE Monitor integration, result it does not always work.

It would be ideal to integrate this lamp into the BLE Monitor integration :)

https://github.com/hcoohb/hass-yeelig

[2021-04-26 10:45] Ernst79 commented on #335
I'm afraid it won't be possible to add (at least not easy). A light requires to be make a connection to the light and sending data to the light (like hass-yeelightbt is doing), while this integration is passively listening to BLE messages. This means it can't turn on/off the light, it might only receive the state of the light, if it is broadcasted by the light. And I assume you want to turn of/off

[2021-04-26 10:53] xekil commented on #335
Thank you for your answer, yes indeed I wish I could turn the light off and on :(
Unfortunately I cannot use two bluetooth dongles on HomeAssitantOS, the second dongle is not recognized by Hassio, I have tried several different bluetooth dongles and cannot make more than one dongle work, either on Rapberry (Haasio) or on a Virtual Machine (Hassio). I say it's a known bug of HomeAssitantOS (Hassio)

[2021-04-26 10:58] Ernst79 commented on #335
I use a supervised installation on Raspberry OS, which is working fine with a dongle + internal Bluetooth. I tried it on Debian (as recommended for HA), but on Debian, I had a lot of trouble getting the internal Bluetooth to work. In the end, I gave up and went back to Raspberry OS. (I'm using a RPi3b+). Bluetooth can be a pain in the ..., I know.

[2021-04-26 11:03] xekil commented on #335
I use a rapsberry 2 :) for HA Remote (BLE Monitor, YeelightBT) and Proxmox for HA Master. Both are under HomeAssistantOS.

I am concentrating my tests on Rapberry 2 because it is he who is near my YeelightBT lamps and so far I have not succeeded in having a second Bluetooth dongle recognized, I will try again ...

[2021-04-26 11:25] #335 closed

[2021-04-27 17:46] migor7 opened #336 "Not work after update to 1.7.3 build"
After upgrade to 1.7.3 in log:

Traceback (most recent call last):
  File "/etc/homeassistant/custom_components/ble_monitor/binary_sensor.py", line 125, in async_run
    dev = dev_registry.async_get_device(identifiers={(DOMAIN, mac)})
TypeError: async_get_device() missing 1 required positional argument: 'connections'

[2021-04-27 17:59] Ernst79 commented on #331
I will release a 1.8.1-beta in a few minutes. I changed all your request, the only thing I still have to add is the "port name". Will do that in the next beta update.

I made a significant change, by splitting all the different parsers in the `__init__.py` file into different files, one per "manufacturer". This makes the programming somewhat more readable to me, as I got lost, due to the increasin

[2021-04-27 18:56] hugalafutro commented on #336
What version were you updating from? I'm on 1.8.3beta and I;m being offered 1.7.3 as update.

Was 1.8.3beta pulled ?

[2021-04-27 19:15] migor7 commented on #336
From 1.7.0

[2021-04-27 19:22] Ernst79 commented on #336
@migor7 how did you configure BLE monitor? In Yaml or in the UI?

can you show me your configuration?

@hugalafutro 1.7.3 was released after 1.8.0-beta, as a quick fix was needed on 1.7.x. 1.8.x is under development (not finished).  The same fix as in 1.7.3 is added in 1.8.2-beta, which was released an hour ago.

[2021-04-27 19:25] migor7 commented on #336
ble_monitor:
  discovery: False
  active_scan: False
  report_unknown: False
  batt_entities: True
  decimals: 1
  period: 60
  log_spikes: False
  use_median: False
  restore_state: False
  devices:
    - mac: 'xx'
      name: 'room'
      encryption_key: xx'
      temperature_unit: C
      decimals: 2
      use_median: False
      restore_state: default
    - mac: 'xx
      name: 'kitchen'

[2021-04-27 19:51] Ernst79 commented on #336
Can you try another restart of HA, with debug enabled and post the logs here?

[code]

[2021-04-27 20:23] migor7 commented on #336
DEBUG (MainThread) [custom_components.ble_monitor] Initializing BLE Monitor entry (config entry): <homeassistant.config_entries.ConfigEntry object at 0x2ea6380>
2021-04-27 23:12:39 DEBUG (MainThread) [custom_components.ble_monitor] async_setup_entry: domain {'discovery': False, 'active_scan': False, 'report_unknown': False, 'batt_entities': True, 'decimals': 1, 'period': 60, 'log_spikes': False, '

[2021-04-28 01:42] millercentral commented on #331
This works great! I completely blew away the integration and ensured it was gone in core.config, then installed the new version. I had to manually add the device MAC (in the Add Device section of config), but it worked fine and identified it as Kegtron KT-200 with two entities, with all the attributes in place (except beer name which you said was coming later). I poured a celebratory pint to ensur

[2021-04-28 06:19] Ernst79 commented on #331
hmm, it should have been automagically discovered with `discovery: True`. Didn't you set it to False accidently?

I'll add the port name later yes, shouldn't be that difficult.

[2021-04-28 06:21] Ernst79 commented on #336
I'll look into it.

[2021-04-28 07:19] adisik commented on #336
Hi, i have same error on versions 1.7.3 and 1.8.2-beta.
2021-04-28 10:07:44 ERROR (MainThread) [homeassistant] Error doing job: Task exception was never retrieved
Traceback (most recent call last):
File "/etc/homeassistant/custom_components/ble_monitor/sensor.py", line 172, in async_run
dev = dev_registry.async_get_device(identifiers={(DOMAIN, mac)})
TypeError: async_get_device() missing 1 require

[2021-04-28 08:47] Ernst79 commented on #336
Strange thing is that I can't reproduce the issue on my systems, even with the same configuration.
I would like to ask you to test the following solution.

In `sensor.py` line 168 and `binary_sensor.py` line 125 (in the custom_components/ble_monitor folder) look for the following text. Line number can be slightly different in 1.8.2-beta

[code]

and try to change these lines in both files to the f

[2021-04-28 10:00] adisik commented on #336
@Ernst79 ,I changed these lines in both files and problem solved. There is no error in the log and the sensors are working

[2021-04-28 10:10] Ernst79 commented on #336
Great, thanks for testing. 1.7.4 has been released.

1.8.x will follow tonight with the same fix.

[2021-04-28 10:10] #336 closed

[2021-04-28 11:28] #332 closed

[2021-04-28 11:30] Ernst79 commented on #330
Any update? If it is solved, please close the issue

[2021-04-28 14:51] #330 closed

[2021-04-28 16:41] millercentral commented on #331
I'll remove it and re-add and screen record it when I get a chance. There is definitely a high chance of user error here.

[2021-04-28 17:41] Ernst79 commented on #331
1.8.3-beta has been released, which adds the port name as an attribute (and another small fix).

As far as I can see, it should be finished now :tada: Let me know if you want any final changes or if you want things to be named differently. Also let me know if the autodiscovery is working.

If you still want to donate a :beer:, there is now a [sponsor](https://github.com/sponsors/Ernst79) button at

[2021-04-29 02:38] millercentral commented on #331
I removed the integration, deleted and reinstalled with the latest version and set everything up again. It is **perfect**. All fields are exactly as expected/hoped. Now I need to work on my lovelace layout, but this is absolutely wonderful, thank you.

Discovery was in fact user error. I mistakenly assumed the Devices dropdown in the first window would show it, but as you can see in the attached v

[2021-04-29 03:57] millercentral commented on #331
So I haven't really spent any time with my lovelace layout in HA yet, but this took all of 15 minutes to put together. THANK YOU. THANK YOU. THANK YOU.
![Screenshot 2021-04-28 205615](https://user-images.githubusercontent.com/7720102/116500903-5fa86700-a864-11eb-9415-141ac27f6a8d.png)

[2021-04-29 07:19] Ernst79 commented on #331
You're welcome. Thanks for the :beer:

Will release the final release tonight.

[2021-04-29 12:40] Ernst79 commented on #331
1.8.3 has been released.

[2021-04-29 12:40] #331 closed

[2021-04-29 13:16] Ernst79 commented on #322
I finally had the change to look at it. It seems that the messages are too short and can be ignored safely.

I will include this fix in the next release, but if you want to test, you can add the following to `xiaomi.py` in the folder `/config/custom_components/ble_monitor/ble_parser/`

Replace the current line 336-338
[code]

with the following

[code]

[2021-04-29 17:55] Ernst79 commented on #322
1.9.0-beta has been released, which should fix this error.

[2021-04-29 17:58] Ernst79 commented on #319
1.9.0-beta has been released, which adds support for this Toothbrush.

It will create a `battery` sensor and a `toothbrush mode` sensor. Could you please test it and report back which state (number) corresponds to what? In the Xiaomi documentation, I can only find
0: Start of brushing
1: End of brushing

But in your messages, there is 3 and 4 as well.

[2021-04-29 18:03] Kaibob2 commented on #322
First test with changing the code looks promising.

[2021-04-29 18:21] Ernst79 commented on #271
@andrewjswan Any update on this? Did you had a change to collect some data? In the latest version, you have to add the LOGGER line in `__init__.py` in the ble_parser subfolder.

[2021-04-29 18:24] Ernst79 commented on #226
@Dskurihin any update on this? Have you been able to get the data?

[2021-04-30 11:30] skynetua opened #339 "Unable to resolve MAC addres for hci0 device"
I'm getting issue with resolving MAC address of hci device after upgrading host os to ubuntu 21.04 from 20.10. It shown as 00:00:00:00:00:00 in config window. I'm running home assistant os on qemu virtual machine. How can I check what causes this issue?

[2021-04-30 11:45] Ernst79 commented on #339
This means that python is not able to find a Bluetooth interface. BLE monitor tries to check that a Bluetooth receiver is available on hci0, hci1 or hci2. In case it doesn't find anything (like in your situation) BLE monitor will use the default hci0, but most likely, BLE monitor isn't working.

Your virtual machine most likely doesn't have access to your Bluetooth dongle/radio. I'm not into the d

[2021-04-30 14:07] Ernst79 commented on #280
Let me know if you need some help. An easy possibility is adding the following line in `ble_monitor/ble_parser/__init__.py`

Change this part in the file
[code]
With
[code]

Restart HA and after a few minutes, check your HA log, it should be filled with errors :-). Copy the log text and paste it into a file. You can add this file here to a post as a txt file. Make sure you play around with the too

[2021-04-30 14:09] Ernst79 commented on #226
Let me know if you need some help. An easy possibility is adding the following line in `ble_monitor/ble_parser/__init__.py`

Change this part in the file
[code]
With
[code]

Restart HA and after a few minutes, check your HA log, it should be filled with errors :-). Copy the log text and paste it into a file. You can add this file here to a post as a txt file. Make sure you play around with the too

[2021-05-01 10:34] Kaibob2 commented on #322
I can confirm, that 1.9.0-beta works as intended. Not one error since installing it.

[2021-05-03 12:39] Ernst79 commented on #310
Closing this issue. Feel free to reopen if the issue still exists.

[2021-05-03 12:39] #310 closed

[2021-05-03 12:55] #322 closed

[2021-05-03 14:35] McGiverGim commented on #280
I want to help with this. I've the same toothbrush. This is what the "ble" program for Android shows, if it helps:

![image](https://user-images.githubusercontent.com/2673520/116889813-4a995280-ac2d-11eb-88c1-77b9bea54607.png)

![image](https://user-images.githubusercontent.com/2673520/116888715-13767180-ac2c-11eb-80bd-8cf63ea9a37b.png)

![image](https://user-images.githubusercontent.com/2673520/1

[2021-05-03 15:16] Ernst79 commented on #280
Thanks, I had a first quick look.

[code]

I'm not sure about the UUID etc, I'll look into what data is what later. But I didn't find the "long" message, as in your first screenshot. The ones in your log only have the data with length 02, 07 and 07. The data with the extra length 09 as in your first screenshot was not in the txt file.

Could you try to create a log while you turn your tooth brush

[2021-05-03 16:18] McGiverGim commented on #280
I have tested with and without `active_scan` enabled. Filtering by the MAC now I get this:
[code]
I can't find the long message, but I see some shorter.

Here you have the log without filtering if it helps.
[ble_capture2.zip](https://github.com/custom-components/ble_monitor/files/6416099/ble_capture2.zip)

The raw data of the screen capture is what appears in the "identification" screen of the pro

[2021-05-03 18:03] Ernst79 commented on #280
The shorter messages are the messages with length 09. They are apparently send in two different messages.  I'll check if it contains something useful.

[2021-05-04 11:20] Ernst79 commented on #280
I had a look, but as far as I can see, it doesn't contain useful data.

[code]

The data I found in these messages are Flags, Service UUID, MAC address and the name.

**Flags**
[code]
**services UUID**
[code]
**MAC address**
[code]
**Device name**
[code]

So, unless you can find more/different data messages, I'm afraid the toothbrush doesn't send data. Try to run it for a longer period. Possibly w

[2021-05-04 13:16] McGiverGim commented on #280
It has it's own app, called Oclean. It is paired with it since more than a year ago, and I open it to sync the data from time to time. I will try to log more time to see if I can find something different.

[2021-05-04 15:20] 50494554524F opened #341 "feature request: temperature/humidity offset"
if you have time...

it could be useful to have the possibility to set and offset for all devices or a single one

thanks

[2021-05-04 17:16] Ernst79 commented on #341
It’s a bit complicated to add this to the ble_monitor code, as each device can have different sensor types. It would require a setting in the option menu for each type of sensor.

You can use a template sensor for adding an offset.

[code]

[2021-05-04 17:39] Ernst79 commented on #280
I think the Bluetooth toothbrush uses a connection between the toothbrush (called peripheral in Bluetooth terms) and the app/phone (central) for the exchange of more detailed data. This means it isn’t sending (useful) data without setting up a connection. BLE monitor is not able to set up connections, as it is passively listening.

you can give it a try to get some logs from a longer period, but I

[2021-05-05 09:31] andrewjswan commented on #271
The child has the cube, I try it from time to time, but there is no meaningful information in the log yet. I do not know why. But if it works, I'll let you know more.

[2021-05-06 08:44] sanderlv opened #342 "HomeAssistant Bluetooth via ESXi VMWare - how to?"
Hello, trying to passthrough the bluetooth from my NUC8i5 to my homeassistant (hassos) and use it for BLE.

I have passed through multiple USB devices succesfully. But I have no luck so far with bluetooth. I get:

Homeassistant says:
[code]

the integration says:
![image](https://user-images.githubusercontent.com/16528916/117268701-e0b0c100-ae57-11eb-83bf-4ba429ff7d92.png)

[2021-05-06 14:58] Ernst79 commented on #342
when you see `00:00:00:00:00:00`, it means that python/HA is not able to find a Bluetooth interface. You can check yourself with the following command (in the virtual machine).

[code]

This should return a MAC address of your Bluetooth dongle.

If this command isn't working, there can be two issues, hcitool isn't installed or (more likely as you already say, your virtual machine doesn't have acce

[2021-05-06 15:00] Ernst79 commented on #341
I'm going to close this request. It can be solved with a template sensor, as described above.

[2021-05-06 15:00] #341 closed

[2021-05-07 07:31] sanderlv commented on #342
Hi, thank you for you reply. I do not know how or where to execute the hcitool dev command in the virtual machine. As it is the homeassistant OS... I can get to the "alpine OS" but that does not take the command...

[2021-05-07 07:47] Ernst79 commented on #342
Normally, you have to enter the command in the console (in Alpine Os). If it doesn't work, I think this is your issue [https://unix.stackexchange.com/questions/500328/how-to-know-the-bluetooth-mac-address-in-alpine-linux]

So you will have to install `bluez-deprecated` for now.

I will check if I can switch to `bluetoothctl` in the future (or try both). But first let me know if `bluez-deprecated`

[2021-05-07 07:57] sanderlv commented on #342
Thank you. Indeed I do not see any:
![image](https://user-images.githubusercontent.com/16528916/117417390-95131b80-af1a-11eb-8209-435cc856cb81.png)

Can you please help me how to
`
So you will have to install bluez-deprecated for now.`

[2021-05-07 08:23] Ernst79 commented on #342
Ah, sorry, this is Home Assistant OS (which is based on Alpine OS). It is normal that you can't run these commands on Home Assistant OS, as Home Assistant OS is quite restrictive. Normally BLE monitor runs fine on Home Assistant OS, but in your case you have Home Assistant OS running on a virtual Machine.

I think your problem is that Bluetooth isn't available in your Virtual Machine. To be honest

[2021-05-07 09:11] sanderlv commented on #342
I use ESXi and have all usb devices passed through:
![image](https://user-images.githubusercontent.com/16528916/117427079-ee804800-af24-11eb-9b21-92a44c08a44a.png)

The "Intel Product 0x0aaa" is the bluetooth adapter...

[2021-05-07 09:17] Ernst79 commented on #342
Sorry, I have no idea, never used ESXi or VMware.

[2021-05-07 09:21] sanderlv commented on #342
Understood, but that is not the issue (I think) since in my original post I have shown the result in homeassistant of the passing through of the bluetooth...

[2021-05-07 09:55] Ernst79 commented on #342
Hmm, I see. You can get access to the underlying OS with these instructions

https://developers.home-assistant.io/docs/operating-system/debugging/

When you get access in this way, you should be able to run the hcitool commands. It might give you more info what is wrong.

[2021-05-07 18:44] vini59fr commented on #31
Hi there

I actually have a similar issue :(
HassOS + Pi4 + USB BT dongle (Trendnet TBW-106UB

![2021-05-05 14_12_28-Aperçu - Home Assistant](https://user-images.githubusercontent.com/65531566/117494367-83f6f880-af74-11eb-9406-e8a922a20852.png)

I checked the bluetoothctl and it appears to be "power off" by itself. I can power it on, but it goes off after some times

![2021-05-03 11_18_19-Window](

[2021-05-07 21:33] PoorNewb23 commented on #342
Hi,
I have ran into similar problem few hours ago, except on Windows host.
I could see the device inside HA VM, but it was not detecting any broadcasts.

Solution was to:
1. Disable "Share bluetooth device with this VM", enable "Show all bluetooth devices" and set USB mode to 2.0.
2. That made bluetooth adapter selectable in the VM/removable devices menu.
3. Selecting it that way grants exclusive

[2021-05-08 06:14] sanderlv commented on #342
Sorry, but that is a totally different situation.

[2021-05-08 08:51] sanderlv commented on #342
I give up... too much hassle ... wanted to "use" bluetooth in my host but since esphome also simply supports my needs I will use that. Thanks for all time and support!

[2021-05-08 08:51] #342 closed

[2021-05-09 13:53] sudoMD opened #343 "Support for the Huawei Body fat Scale AX100"
Hi all, I just purchased a Huawei Bluetooth Body Mass scale and wondering if is possible to integrate with HA

[2021-05-09 15:05] fredericoschardong commented on #167
I am also experiencing this issue (Event loop stopped before Future completed) on my ubuntu-touch installation of HA. I am using a Nexus 4 to run ubuntu-touch (which is based on ubuntu 16.04), then libertine-container-manager for containers. I have installed python 3.7, and HA 2021.1.5.

I have set:
[code]

Yes, when I start HA a `python3.7` process is listed on `ps -A`

Here is the log of hass:

[2021-05-09 17:05] Ernst79 commented on #343
Lets try to find out. You can get a log with ble messages with the option report_unkown. Use "other" to get all ble messages, as we dont know the uuid (yet). You have to enable debug logging at info level, see instructions in the faq. It would help if you can find the Mac address. Perhaps in an app you use for the scale.

[2021-05-09 17:44] #343 closed

[2021-05-09 18:19] Ernst79 commented on #343
Out of curiousity, why did you close the issue.? Is it too much trouble getting the data? I can help you if something isnt clear.

[2021-05-09 19:59] Chriserus opened #344 "Support for soocare.toothbrush.m1"
Hello there! First off, thank you for supporting the project, really like the Xiaomi T500 toothbrush support! I am here to kindly ask for support for another Xiaomi-branded toothbrush model, which is soocare.toothbrush.m1. I found the github that explains what is being brodcasted by the device, so maybe it will help you out!
Here's the link: https://github.com/freenetwork/ble-in-xiaomi/blob/master

[2021-05-10 08:00] Ernst79 commented on #344
According to the link, the toothbrush requires a connection to be set up. There is no advertisement broadcasted. This component is only passively listening to ble advertisements, but is not able to set up a connection.  To make sure this is True, you can try the option "report_unknown: xiaomi" (make sure you enable debug logging as well. Instructions are in the faq).

[2021-05-11 09:58] rezmus commented on #289
you can get encryption key for yeelight bt devices (remote/dimmer) paired with ceiling light by sending miio cmd to device.

[code]

pid 339 is yeelink.bleremote.v1 (remote), pid 950 is dimmer. mible decryption should work after.

[2021-05-11 11:55] Ernst79 commented on #289
If someone can send a log with the option report_unknown: "xiaomi" and the encryption key, i will have a look

[2021-05-11 16:45] Ernst79 commented on #321
Ill look into it

[2021-05-11 17:11] rezmus commented on #289
@Ernst79 i tested yeelight remote with mgl03 hub and looks like payload is decrypted without issues. you should be able to use it with ble_monitor even without ceiling. dimmer might be more tricky without ceiling, but should be also doable. i don't have any, can't test. from what i know it also sends 4097 (0x1001) events probably with dimmer possition.

this is list of all events yeelight remote s

[2021-05-11 17:52] rezmus commented on #289
sorry, i don't have any bt dongle. it should be the same as yeelink.remote.remote switch which also sends 4097 events.

[2021-05-11 18:29] Ernst79 commented on #289
Ok. I dont have the device myself, but could you give us the miio command we have to use? I've never used miio, but i assume it's [this repo](https://github.com/aholstenson/miio). But what command do you use to get the key?

[2021-05-11 19:09] Ernst79 commented on #289
Thans. I dont have the ceiling Light, nor the remote. Im only the developer of ble_monitor, so I need some user to provide me with the data and key @latel or @keniji can one of you try to get the encryption key with the method of @rezmus ? Please post it together with some logs generated with `report_unknown: "xiaomi" `

[2021-05-12 09:56] Ernst79 commented on #289
Thanks. Ill look into it the combinatie days.

[2021-05-12 13:37] Ernst79 commented on #289
@rexbut The messages you posted are not encrypted, and do not contain much useful data. Both the dimmer (1st line) and the remote (2nd line) have the same data. The third line is for comparison, a regular LYWSDCGQ sensor

[code]

The dimmer and remote have two messages in one advertisement, a NAME and a PAYLOAD (besides MAC and RSSI).

**NAME**
data: `07   09  79 65 65 2d 72 63`
Length 7 bytes
Typ

[2021-05-12 14:09] Ernst79 commented on #339
I'm closing this issue. If you still have the issue, feel free to reopen the issue.

[2021-05-12 14:09] #339 closed

[2021-05-12 14:09] #321 closed

[2021-05-12 14:40] rezmus commented on #289
yeah device sends also some adv with edata 2, you need to push buttons to get 4097. it's possible that adv won't be encrypted at all due to short beacon key (such devices in mijia are usually plain).

[code]

[2021-05-12 14:50] Ernst79 commented on #289
Yes, the beacon key seems to be too short, normally it is 32 characters. But let’s wait for additional data from @rexbut first.

strange thing is that @keniji has posted encrypted messages with device type `f6 07 —> 07f6 —> pid = 2038`

[2021-05-12 15:06] rezmus commented on #289
there are a few yeelight remotes. in their plugins they have support for remote/dimmer and 2 remotes designed for bhf light and fan light, but i saw some more. for example remote from this light may also talk mible.

https://mi-home.pl/akcesoria/akcesoria-komputerowe/mi-computer-monitor-light-bar

[code]
pid 2038 is yeelink.light.nl1 - Mi Motion-Activated Night Light 2. from your parser 0x07F6 = 2

[2021-05-12 16:20] Ernst79 commented on #289
Ah, sorry, you're right. It was looking at the wrong line in the table.

[2021-05-12 21:37] rexbut commented on #289
[code]

Remote: F8:24:41:E9:50:74
[code]
Dimmer: F8:24:41:C5:98:8B
[code]

[2021-05-13 06:25] rezmus commented on #289
it looks like remote payload is plain
[code]
and dimmer is encrypted.

[2021-05-13 08:22] vini59fr opened #345 "USB dongle issue, no more data"
Hi there

I have an issue since I use a USB dongle and I don't where it comes :(
config : HassOS uptodate + Pi4 + USB BT dongle (Trendnet TBW-106UB)

The BLE integration stop receiving datas frequently
![2021-05-05 14_12_28-Aperçu - Home Assistant](https://user-images.githubusercontent.com/65531566/117494367-83f6f880-af74-11eb-9406-e8a922a20852.png)

I checked the bluetoothctl and it appears to be

[2021-05-13 10:28] Ernst79 commented on #289
I've released 2.0.0-beta with initial support for the remote control (YLYK01YL). Dimmer will follow later.

The button being pressed is presented in the state of the remote sensor, the type of press (`short press`, `long press` or `double press`) is now added as an attribute. There is also a binary sensor (True/False), which is True when pressing `on`, `+` or `-` and False when pressing `off` (reg

[2021-05-13 10:57] rezmus commented on #289
@Ernst79 can you check if sample dimmer payloads can be decrypted?

[2021-05-13 11:34] rexbut commented on #289
[code]

[2021-05-13 11:47] Ernst79 commented on #289
@rezmus No, unfortunately not. The key is too short (should be 16 bytes, not 12), The payload seems to be too short as well, to be able to contain a MAC TAC, (normally 4 bytes)

[code]

@rexbut, thanks for the fix, I also see that the measurements do have a packet number that increases, I was under the impression that it was always 1. My mistake, I'll remove the workaround (there is a check that t

[2021-05-13 11:59] rezmus commented on #289
@Ernst79 what is mac tag? from api if key is short they fill it with 4xFF, but in this case payloads are always plain. anyway i think you picked wrong adv for test because this 3 next to each other looks dummy (same payload bytes after mac), while all other have 6 random bytes.
[code]

[2021-05-13 12:05] Ernst79 commented on #289
@rexbut I'm a bit confused about your fix. In the advertisements I see `131695` but in your fix it is looking for `141695`

`adv_index3 = data.find(b"\x14\x16\x95", advert_start, 3 + advert_start)`

Is this a mistake?

[2021-05-13 12:14] rexbut commented on #289
@Ernst79 Plain remote payload starts with "04 3E 21" and contains "14 16 95"

[code]

Other:

[code]

[2021-05-13 12:20] Ernst79 commented on #289
@rexbut Let me know what you think of the generated sensors and attributes. If something needs to change, let me know.

[2021-05-13 12:54] rezmus commented on #289
@rexbut can you log a few more adv for dimmer when you do same action several times? for example single click it (without rotate or anything).

[2021-05-13 13:15] rexbut commented on #289
@Ernst79 The remote is working fine but I don't know yet if the remote is sending data to the battery
![image](https://user-images.githubusercontent.com/1159396/118130629-debda380-b3fd-11eb-9cea-dd53cb7f8f2c.png)

[2021-05-13 13:16] Ernst79 commented on #289
@rezmus. This is how Xiaomi MiBeacon encrypted messages are normally decrypted

[code]

[2021-05-13 13:18] Ernst79 commented on #289
@rexbut I enabled the battery sensor to test, as most sensors send battery info. This can take  up to 24 hours. Please let me know tomorrow if is still unknown, otherwise I will remove it.

[2021-05-13 13:24] Ernst79 commented on #289
@rexbut, but what do you think about the binary sensor. It is now one binary sensor, which is going to True, when pressing "on" with a single press, but also with a double press or long press.

Shouldn't this be split up into three different binary sensors? It will make automations easier, I guess (e.g. If `long_press_binary_sensor` to `True` do something, if `short_press_binary_sensor` to  `True`

[2021-05-13 13:29] rezmus commented on #289
afaik it does not support double click, only single and long.

[2021-05-13 13:46] rexbut commented on #289
@rezmus Here is the click data:

[code]
I don't understand why but I reconnected the dimmer several times but I still have the same token.

[code]

[2021-05-13 13:50] rezmus commented on #289
tx! i've noticed this before with my remote paired with mijia app. ble key did not change.

[2021-05-13 13:54] Ernst79 commented on #289
This token, isn't that from a hub? It has an IP address?

[2021-05-13 13:59] rexbut commented on #289
@Ernst79 Yes, I use a "Yeelight YLXD76YL" to get the "beaconkey"

[2021-05-13 14:00] rezmus commented on #289
token/ip is from ceiling light. he meant ble/beacon key which usually changes each time you pair device, but not for yeelight dimmer/remote. btw: notice longer data adv for dimmer, there is same event 2 at the end which was present for remote. i'm pretty sure we can decrypt payload with ble key, we just need to find a way how ;)

[2021-05-13 14:10] Ernst79 commented on #289
Yes, I remember (now).

Are you sure `beacon_key` is the encryption key?
I know that in Xiaomi cloud tokens extractor you get a 12 bytes (24 char) `token` for each device and a 16 bytes (32 char) `bind_key`.

The length of the `beacon_key` seems to the same as the length of the so called `token`

[2021-05-13 14:21] rezmus commented on #289
token is used for wifi devices to encrypt local miio, while beaconkey is used by ble devices for ble adv encryption. encrypted devices usually use 16 bytes ble key during bind process, while unencrypted send 12 bytes. it is filled with FF when ble gateway pull key from the cloud (it's not used anyway due to plain payload).

[code]

000102030405060708090a0b - was send by device as ble/beaconkey to

[2021-05-13 14:50] Ernst79 commented on #289
Ok. So to summarize, this dimmer device is using another type of encryption as all other Xiaomi MiBeacon sensors. We need to figure out what kind of encryption is used.

[2021-05-13 16:18] sakislad commented on #345
Same problem here, with Pi4 and Belkin USB Dongle, a workarround is to just enable official BT Xiaomi Sensors (in parallel operation) on HA, this way Passive BLE addon keep working all day long.

[2021-05-13 16:31] vini59fr commented on #345
do you have a link ?
I don't only have temperature sensors, but plants sensors too

Thank's for help :)

[2021-05-13 16:35] Ernst79 commented on #345
@sakislad means [this component](https://www.home-assistant.io/integrations/mitemp_bt/)

[2021-05-13 16:42] rezmus commented on #289
i think it might be some variation of mible decryption used before current one. do you know who (or which project) made mible decryption opensource? maybe we can find some answers there.

[2021-05-13 16:53] Ernst79 commented on #289
@Magalex2x14 made the decryption in the past. He wrote this page explaining the decryption, but so far, all sensors have followed this decryption method (AES, MODE_CCM).

https://github.com/Magalex2x14/LYWSD03MMC-info

[2021-05-13 17:04] vini59fr commented on #345
I'm looking for a solution since I had my dongle and didn't find anything :(

I had a "mitemp_bt" sensor. I hope this will work :)

[2021-05-13 17:19] borpin commented on #345
I had this too. I think it is a bug in the kernel used on the Pi. I gave up and coughed up for a Blue and I have had no issues since (but can only get one dongle to work at a time).

[2021-05-13 17:44] vini59fr commented on #345
Still the same issue with a mitemp_bt sensor configured :( :(

sensor:
  - platform: mitemp_bt
    mac: 58:2D:34:37:81:AD

![image](https://user-images.githubusercontent.com/65531566/118164480-75508b80-b423-11eb-8bda-cf1563b5786c.png)

[2021-05-13 23:49] sakislad commented on #345
I use this addon with success for a while in docker on Ubuntu vm on qnap Nas. 3 weeks ago I have migrated on o Raspberry pi4 using the same adapter, running stable for 2 weeks. On 3rd week this situation comes up and I decided to give mitemp_bt a try but I didn't uninstalled the passive ble addon and I have them running in parallel with success.
If I uninstall the mitemp_bt sensors from configurat

[2021-05-14 08:39] Ernst79 commented on #289
This page is interesting. It does not look encrypted, at least you can recognize the type of press. Perhaps the rest is the angle?

https://github.com/archaron/docs/blob/master/BLE/ylkg08y.md

[2021-05-14 09:12] rezmus commented on #289
in our logs its always 00 00 00 at the end. im sure encrypted 6 bytes are 4097 event with 3 bytes payload which encodes all clicks/rotates. look at answer for miio cmd sent to lamp, it says dimmer use 4097 just like remote.

mibeacon has many versions. current is v5 afaik so probably dimmer is using older one.

[2021-05-14 17:22] Ernst79 commented on #289
@rexbut Any battery readings received, or is it still "unknown"

[2021-05-15 13:19] syssi commented on #289
@Ernst79 The battery reading of my YLYK01YL is always "unknown".

[2021-05-15 13:39] rexbut commented on #289
Still no data for the battery after 48 hours
![Screenshot_20210515-153541](https://user-images.githubusercontent.com/1159396/118363226-abad1880-b593-11eb-833b-b176d2d1f393.png)

[2021-05-15 14:49] Ernst79 commented on #289
**YLYK01YL**
Ok, I'll remove the battery. I will also update the code slightly, such that you get two binary sensors, one for short press, one for long press. This will be released in 2.0.3-beta today. If there are no issues afterwards, I'll release it on Sunday.

**YLKG08L**
Regarding the YLKG08L, some (very) good news. We figured out the decryption of the messages, so we can add this one as well

[2021-05-16 09:50] stefangries opened #349 "Setting "Generate battery entities" does not work"
I have the "Generate battery entities" disabled:
![image](https://user-images.githubusercontent.com/10342151/118392929-6ee92c00-b63c-11eb-908f-2efad17b66dd.png)

When activating it and saving it, I get an error:
![image](https://user-images.githubusercontent.com/10342151/118392946-8de7be00-b63c-11eb-9ba7-6e93041f08d6.png)

Console output:
[code]

[2021-05-16 10:53] Ernst79 commented on #349
Ill look into it. When you select e.g. Use median, do you get the same error?

[2021-05-16 11:45] EdwardJB opened #350 "Trouble adding a Yeelight Wireless Switch S1 YLAI003"
Hi,

I have a working integration (many devices already working well) but having trouble adding this switch. It's encrypted, but I cannot find the key. Normally I add the device to the Mi app, then run the CLI tool which lists the keys. But this switch doesn't seem to pair with the app.

Can anyone help?

Thanks.

[2021-05-16 11:47] stefangries commented on #349
Yes, same error.
Using Version 1.9.2.

[2021-05-16 16:37] Ernst79 commented on #350
Which CLI tool did you use? Xiaomi cloud token extractor?

[2021-05-16 16:47] EdwardJB commented on #350
Well yes I used that for all my _other_ devices. But this switch won't pair with the Mi app, so I assume I can't use it for that?

[2021-05-16 16:56] Ernst79 commented on #350
I know from @resmuz that for the Yeelight dimmer they use this method. So, you need the token from the device it is connected to (in the example below a ceiling light) first. You should be able to get this via xiaomi clould token extractor. Next, you can get the beaconkey from the switch with one of the commands below. Didn't try it myself though. Let me know if this works, than I can add it to th

[2021-05-16 17:01] EdwardJB commented on #350
Thanks for this info!

I don't actually have any other device. I just bought the switch only cos saw it listed as supported in the README.

[2021-05-16 17:08] Ernst79 commented on #350
When reading #268 you should be able to pair it to the MiHome App just normally. Which region do you use in the app. Some devices are only available if you select China. Otherwise, ask @andrewjswan, he has this device and I know he often responses

[2021-05-16 17:33] EdwardJB commented on #350
That was the problem. I changed the region to China and everything is working now. Thanks a lot for your help!!

[2021-05-16 17:33] #350 closed

[2021-05-16 17:40] Ernst79 commented on #350
No problem

[2021-05-16 18:38] Ernst79 commented on #289
2.1.0-beta has been released, which adds support for the Yeelight rotating dimmer (YLKG08L).

As I had to rewrite a lot, please be aware that it could contain bugs, also for previously working devices.
YLKG08L needs a 24 character key.

Let me know if the state corresponds to what you do. @rexbut, could you do some thorough testing of this release. For now I assume the following states

[code]

Qu

[2021-05-16 19:09] rexbut commented on #289
@Ernst79 It works perfectly 🎉
![image](https://user-images.githubusercontent.com/1159396/118409471-eb0a6080-b68a-11eb-8ac8-d97e80842b5b.png)

[2021-05-16 19:20] rexbut commented on #289
@Ernst79 Yes, the time is in seconds
![image](https://user-images.githubusercontent.com/1159396/118409798-818b5180-b68c-11eb-86b8-2262f95a98bc.png)

[2021-05-16 19:24] syssi commented on #289
My dimmer is called `YLKG07YL`. I assume it's identical but I cannot verify it because I'm unable to retrieve the token (no ceiling light with yeelight firmware around).

[2021-05-16 19:29] rezmus commented on #289
@syssi do some hcidump and post logs here. i have workaround for missing ceiling light ;)

[2021-05-16 19:29] rexbut commented on #289
@Ernst79 For a short press, I received 9 messages.

[code]

[2021-05-16 19:33] rezmus commented on #289
we already confirmed it's an issue with silabs_ncp_bt binary on mgl03 hub or chip itself. it only see 0 or 1 adv for dimmer, while for remote it seems multiple msgs. source of the problem is however still unknown.

[2021-05-16 19:37] syssi commented on #289
<details>
<summary>First `YLKG07YL` dimmer</summary>
<br>
[code]
</details>

<details>
<summary>Second `YLKG07YL` dimmer</summary>
<br>
[code]
</details>

[2021-05-16 19:44] rexbut commented on #289
@rezmus Do you have a solution to have the `beaconkey` ? I'm testing with [ylkg08y.md](https://github.com/archaron/docs/blob/master/BLE/ylkg08y.md) and [mikettle](https://github.com/drndos/mikettle) to get the `beaconkey` but it doesn't allow me to decrypt the messages

[code]

[2021-05-17 05:41] rezmus commented on #289
@rexbut looking at the info you should be able to auth device using exactly the same mikettle code (with pid 950) and then read (write?) beaconkey like @archaron or @drndos did. maybe someone with bt experience can take a look. if this is not being handled within a few days i can provide alternative (not so neat) way to get the key via custom mi home app.

[2021-05-17 06:30] Ernst79 commented on #289
If you guys find out a method getting the beaconkey without ceiling light, please post it here, so I can add it to the FAQ.

The YLKG07YL from @syssi seems to use the same `pid = 950` (`B6 03`) as the YLKG08YL.

[2021-05-17 09:00] Ernst79 commented on #349
I think you need to select something (False) in the `Report Unknown` option. It is now empty, which isn't probably allowed.

[2021-05-17 09:05] stefangries commented on #349
Thanks, this solved the problem.

report_unknown is described as optional in the documentation. Therefore, either the documentation should be changed or omitting this option should not lead to errors.

https://github.com/custom-components/ble_monitor#report_unknown

[2021-05-17 09:42] Ernst79 commented on #349
Yes, I understand, but this is more an issue with the configuration in the User Interface (UI). It should be filled in automatically with the default value (which is False), normally you should not see an empty field. When configuring it in YAML, you can leave it away, so in fact it is optional.

Not sure why it was empty in your case. Did you move from YAML configuration to configuration in the U

[2021-05-17 09:44] stefangries commented on #349
I did that when the UI configuration was introduced, so some time ago.

[2021-05-17 10:13] Ernst79 commented on #349
Couldn't reproduce it (tried new (minimal) configuration in Yaml, then moved to UI mode. After that, when I open the options menu, report_unknown is filled in with False.

I'm closing the issue for now. Will keep an eye on new issues, if more people are facing the same, might be related to the change in this option, (True isn't allowed anymore)

[2021-05-17 10:13] #349 closed

[2021-05-17 11:00] Ernst79 commented on #289
@rexbut Did you get any states with `rotate with value xx` or `rotate (pressed) with value xx`? Is so, could you send me the numbers it displayed for `xx`, Or could you try when you make a real large turn on you dimmer. for now I assumed 1, 2 or 3 turns, but it might be possible that you could reach more.

[code]

[2021-05-17 11:09] rezmus commented on #289
it's not constant value (1,5,17), it's range 1-17 (maybe more) based on how much you rotated right from last posion. similar for left.

[2021-05-17 11:11] rexbut commented on #289
Droite: 1 à 20
![image](https://user-images.githubusercontent.com/1159396/118479040-d7a1d880-b710-11eb-9ee2-e6e2daa2a667.png)
![image](https://user-images.githubusercontent.com/1159396/118479118-ee482f80-b710-11eb-950d-695ee0743509.png)
![image](https://user-images.githubusercontent.com/1159396/118479227-0ddf5800-b711-11eb-9bc2-5edde3dd3ca5.png)

[2021-05-17 11:18] rexbut commented on #289
@rezmus When the rotation is larger, the value is high. The last position has no influence on the value.

[2021-05-17 11:28] Ernst79 commented on #289
Ok, I think I will than change it to the actual number (now called value). Not sure how you call it in English.

- Rotate (20 x)
- Rotate (20 turns)
- Rotate (20 clicks)
- Rotate (20 swings)
- Rotate (20 steps)

I guess `steps` is the best word? what do you think?

[2021-05-17 11:31] archaron commented on #289
Hi guys!
Thank you for mention me. I've returned to make some investigations on this module. Please, keep in touch with my page.

[Hardware](https://github.com/archaron/docs/blob/master/BLE/ylkg08y-hw.md)

[2021-05-17 11:35] rexbut commented on #289
@Ernst79
Yes, `steps` is the best word.
I also think the value on the left should be 1 to 20.

[2021-05-17 11:46] Ernst79 commented on #289
Yes, of course, I will calculate that in the code as 256-value. E.g. if it sends 241, it will be `rotate left 15 steps`

[2021-05-17 11:59] rezmus commented on #289
@archaron you can now decrypt yeelight dimmer adv payloads using mibeacon legacy decryption method and beaconkey. i saw on your github you managed to auth device and read beaconkey. can you share your code?

[2021-05-17 12:11] Ernst79 commented on #289
**2.1.1-beta** has been released, with an improved state of the dimmer.

For those who are interested, this is the logic I now use for the `0110` advertisements (remote, dimmer).
Remote uses `remote_command`, `remote` and `press_type`
Dimmer uses `press_type` and `dimmer`

[code]

[2021-05-17 12:18] archaron commented on #289
I've found that info on some other sources, so not 100% sure that would work. But I'll try.

[2021-05-17 12:52] archaron commented on #289
BTW, here is the [firmware image](https://github.com/archaron/docs/blob/master/BLE/ylkg08yl/ylkg08yl.bin), if you were interested in it.

[2021-05-17 13:21] archaron commented on #289
Here is some strings from FW. As i can see, beacon key is stored @ location 0x77000 as firmware received it by the air(?).
`F1.0.1_1
Telink tLight
telink_mesh1
yee-rc
consecutive_zero_count=%d
[arch_random]: %x
wificfg
productid
token
beaconkey
eventrule
authentication
on CCC write
on BeaconKey Write, len:%d
on EventRule Write, len:%d
on Token Read
on SN Write, len:%d
on WifiCfg Write, len:%d
on A

[2021-05-17 15:07] andrewjswan commented on #289
For YLYK01YL i need bind key? Or?

[2021-05-17 15:12] rezmus commented on #289
its plain, but if you randomly push some buttons it may switch to legacy encrypted (happend to my friend).

[2021-05-17 15:48] keniji commented on #289
It's really a good news to get this progress...

I've both YLYK01YL and YLYK07YL, and I've tried the below things:
1. Directly add YLYK01YL and YLYK07YL (via yaml) with their MACs
-- Three entites `binary_sensor.ble_remote_binary_long_press_ylyk01yl` and `binary_sensor.ble_remote_binary_single_press_ylyk01yl` and `sensor.ble_remote_ylyk01yl` are added, but they only have "unknown" status, no matte

[2021-05-17 15:59] rezmus commented on #289
hcidump your remote to confirm it use plain payload. not sure if @Ernst79 made it fixed plain or it use frame ctrl to check encryption type. about HA config can't help you, never used it ;)

[2021-05-17 16:03] Ernst79 commented on #289
It uses frame ctrl to check for encryption, so that should be OK. As @rezmus says, please make a HCI dump when clicking your remote.

I’ll update the name of the sensor to YLYK07YL/YLYK08YL

[2021-05-17 16:35] andrewjswan commented on #289
@keniji I haven't tried it, I don't quite understand why I need this remote in HA, and I don't know how to determine its mac address. And it's in an area where the Yeelight button doesn't work well, so I'm not sure if this remote will work either.

[2021-05-17 17:30] Ernst79 commented on #289
@keniji sorry, I just remember that there is an extra check for the device type, before it will do the legacy encryption. I will add the remote in the next update

[2021-05-17 18:12] syssi commented on #289
I was able to retrieve the BLE token of my YLYK07YL devices. Great work guys!

[2021-05-17 18:33] Ernst79 commented on #289
**2.1.2-beta** has been released, which
-adds support for decrypted YLYK01YL messages and
- updates the name of YLKG08YL to YLYK07YL/YLKG08YL

@syssi If I'm correct, I think the names of the devices are
- YLYK01YL
- YLYK07YL
- YLKG08YL

So, YK in the 07, and KG in the 08 device

I have to check the device not being added automatically (without encryption key). Will do that later

[2021-05-17 18:39] syssi commented on #289
In my case the device is called YLK**G07**YL:

![ylkg07yl](https://user-images.githubusercontent.com/2735933/118539663-fc697080-b74f-11eb-9ea7-3bc2bd8957d2.jpg)

[2021-05-17 18:44] Ernst79 commented on #289
Hmm, ok. They make a mess of these numbers

[2021-05-18 02:17] keniji commented on #289
Hi @Ernst79 and @syssi,
Yes, I made a typo 😂😂😂
The first 2 chars "YL" might means "Yeelight"; "YK" means "remote control" since it can be pasted anywere; and "KG" means "switch" as it needs to be wired to the light, really sorry to confuse you here.

I will try 2.1.2-beta later today after I get home, thanks again @Ernst79 👍👍👍

[2021-05-18 12:23] keniji commented on #289
If you have a Yeelight light and your remote has been paired with it, please take a look at the last part of [here](https://github.com/custom-components/ble_monitor/issues/289#issuecomment-785989902) about how to determine the remote's MAC.
One of my expected scenario is, to have a [YLKG07YL](https://xiaomi-mi.com/uploads/CatalogueImage/orig_yeelight-smart-bluetooth-wireless-dimmer-wall-light-swit

[2021-05-18 12:44] Ernst79 commented on #289
I've updated the instructions in the [FAQ](https://github.com/custom-components/ble_monitor/blob/Yeelight-dimmer-YLKG08YL/faq.md#how-to-get-the-mibeacon-v2v3-encryption-key) for the part about how to get the encryption key.

Could you guys check if this is correct? Is it possible to get the TOKEN from the MiHome app as well (I now assumed that you used Xiami Cloud token extractor)

[2021-05-18 13:02] keniji commented on #289
I use [token_extractor.exe](https://github.com/PiotrMachowski/Xiaomi-cloud-tokens-extractor) and it does not list my remotes. I think it's because the remotes are not connected to Xiaomi cloud directly:
`This tool/script retrieves tokens for all devices connected to Xiaomi cloud and encryption keys for BLE devices.`

I tried 2.1.2-beta but I get nothing updated, all BLE devices are with "unknown"

[2021-05-18 13:06] rezmus commented on #289
@Ernst79 you should tag/ask guys from dimmer protocol reverse engineering issue (that 2y old one). i saw few of them confirmed in the past they could auth device and read beaconkey from it's characteristics. or maybe somebody can work on mikettle code mentioned above because auth should be almost the same. when it's done you don't need miio device or custom app anymore to get the key.

[2021-05-18 13:18] Ernst79 commented on #289
@keniji I meant the TOKEN of the ceiling light, as far as I understand it, you first get TOKEN and IP of the ceiling light, and with that info, you get the beaconkey from the remote/dimmer. My question was, how did you get the TOKEN of the ceiling light.

@rexbut is 2.1.2-beta working for you?

@rezmus I understand, but I wanted something in the faq for now, otherwise everybody starts a new issue

[2021-05-18 13:26] keniji commented on #289
Well, I use token_extractor.exe to get the TOKEN for the ceiling light indeed 🤣🤣🤣

[2021-05-18 13:58] keniji commented on #289
I got these errors:
[code]
I tried remove/reinstall the component via HACS, remove the old entity which had been recognized as YLYL07YL before (I'm using YLKG08YL, but nothing changed. Should I try reinstalling HA? I'm using docker so that would not be complicated.

[2021-05-18 14:54] Ernst79 commented on #289
@keniji I think HA is a bit stuck in the name change, its probably still stored with the old name in the entity registry. So, please first update to 2.1.3-beta with (hopefully) the correct name, as it has again a device name change, so better to do the update first.

After the update, do a HA restart and check if it solves the problem (probably not).

If not, try the following
- delete the device

[2021-05-18 15:21] keniji commented on #289
Thanks Ernst, I cleaned the old entities and now everything seems fine now:
![image](https://user-images.githubusercontent.com/42759206/118677869-29d91b80-b82f-11eb-83c0-89052c193695.png)
![image](https://user-images.githubusercontent.com/42759206/118678150-5a20ba00-b82f-11eb-8a35-81cf8d20084f.png)

Looking forward to find a way to "unpair" these remotes from Yeelight light so that we can use it s

[2021-05-18 16:32] rezmus commented on #289
afair there is such option in yeelight app (swipe left or right on remote) or you can send miio cmd i think, but never tested.

[2021-05-19 02:14] keniji commented on #289
Thanks rezmus, I thought I need to reset Yeelight light to unpair them 🤣 So in MiHome APP I can delete the remote by holding on it, and in Yeelight APP just to slide the item(remote) to delete it.

[2021-05-19 09:51] bluefoxlee commented on #289
Hi.
Wonder is there any possible to add support for this remote since it's very similar to 01YL but slightly different.
It comes with Yeelight celling fan/light product. Got PID 1678 through Miiocli. however can't find the model number of it.

![IMG_7454](https://user-images.githubusercontent.com/894044/118792076-e41d6100-b8c9-11eb-9c99-a40b41eb9c7e.jpg)
[Left: YLYK01YL] [Right: PID 1678]

[2021-05-19 09:57] rezmus commented on #289
@bluefoxlee can you log it with hcidump or ble_monitor debug log? each button single click, double click and long press. pretty sure it can be supported.

[2021-05-19 10:55] Ernst79 commented on #289
I think so too. the easiest to try is modify the following two files, In each file look for YLYK01YL, copy this line and modify to YLYKxxYL). In the first file, also modify  `b'\x53\x01` to `b'\x8E\x06` in the new line.

`\custom_components\ble_monitor\ble_parser\xiaomi.py`

[code]

and in `\custom_components\ble_monitor\const.py`

[code]

and

[code]

[2021-05-19 11:12] andrewjswan commented on #289
@Ernst79 Empty URL for Token Extractor in
- https://github.com/custom-components/ble_monitor/blame/Yeelight-dimmer-YLKG08YL/faq.md#L268

[2021-05-19 11:17] Ernst79 commented on #289
@andrewjswan Thanks, I've fixed it!

[2021-05-19 11:31] rezmus commented on #289
if you don't have any device to pair remote/dimmer with, you can use this special version of mi home app to get the key (untill ppl figure it out how to read beaconkey directly from bt controller).

https://ru.kapiba.ru/mihome/files/public/others/MiHome_6.5.700_63911_vevs_dimmer.apk

create /vevs/logs/ in internal memory before you install app. i suggest to choose india region due to various reaso

[2021-05-19 11:34] Ernst79 commented on #289
Thanks, Ill add instructions in the FAQ

[2021-05-19 12:26] rezmus commented on #289
remote/dimmer does not exist in stock app.

https://ibb.co/0qZhR6C

[2021-05-19 12:28] Ernst79 commented on #289
And it does exist in the Mod? OK, good to know. thanks

[2021-05-19 12:30] rezmus commented on #289
it was added to this single specific version of mod for the purpose of getting keys.

[2021-05-19 12:42] rezmus commented on #289
from faq: 'pid': 950 corresponds to the remote, 'pid': 339 corresponds to the dimmer.

it's opposite ;)

you should link to apk i mentioned, not mod site. this single version can be used to pair remote/dimmer. dimmer won't be in regular mod version because it can't be used in mijia. remote can with some conditions (plain payload, mgl03 hub + patched silabs binary).

btw: some yeelink bhf lights co

[2021-05-19 12:45] Ernst79 commented on #289
I changed the links just a minute ago to the specific version, I already understood 😄 . will change the pid. Thx

[2021-05-19 12:50] keniji commented on #289
Just tried to unpair/delete YLYK01YL from the Yeelight light, and ble_monitor still works well with the "free" remote. 😘

[2021-05-19 12:53] Ernst79 commented on #289
I'll make the final release tonight. I think you guys have tested enough.

[2021-05-19 14:49] #289 closed

[2021-05-19 14:53] Ernst79 commented on #289
2.1.3. has been released!. I'll open up a new issue for the other remotes an issue for alternative ways to get a key.

[2021-05-19 14:55] Ernst79 opened #352 "Yeelight remotes"
Request from @bluefoxlee from #289

Hi.
Wonder is there any possible to add support for this remote since it's very similar to 01YL but slightly different.
It comes with Yeelight celling fan/light product. Got PID 1678 through Miiocli. however can't find the model number of it.

![image](https://user-images.githubusercontent.com/24375847/118835135-03fd5680-b8c3-11eb-9d76-910b8c3364ee.png)
[Left: Y

[2021-05-19 14:58] Ernst79 commented on #352
@bluefoxlee can you log it with hcidump or ble_monitor debug log? each button single click, double click and long press. pretty sure it can be supported.

[code]

Or

The easiest to try is modify the following two files, In each file look for YLYK01YL, copy this line and modify to YLYKxxYL). In the first file, also modify b'\x53\x01 to b'\x8E\x06 in the new line.

`\custom_components\ble_monitor\b

[2021-05-19 15:14] Ernst79 opened #353 "Encryption key Yeelight remotes (YLYK01YL) and dimmers (YLKG07YL and YLKG08YL)"
There are currently two ways described in the FAQ to get the encryption key for the Yeelight Remote (YLYK01YL) and Yeelight Dimmers (YLKG07YL and YLKG08YL). If you have easier ways to get the encryption key, please report in this issue.

I will later copy some relevant info from #289

[2021-05-19 15:40] bluefoxlee commented on #352
Thanks @rezmus and @Ernst79 for replay and help to open an issue. I will make some test with it and report it back tomoroww.

[2021-05-19 17:13] Busyrev commented on #289
@Ernst79 FAQ link at release 2.1.3 https://github.com/custom-components/ble_monitor/releases/tag/2.1.3 points to https://github.com/custom-components/ble_monitor/blob/Yeelight-dimmer-YLKG08YL/faq.md#how-to-get-the-mibeacon-v2v3-encryption-key that gives 404

[2021-05-19 17:14] Ernst79 commented on #289
Thx, I will fix it right away.

[2021-05-20 15:20] vini59fr commented on #345
Could you show me your mitemp_bt lines in your configuration.yaml ?

I added it and tried with the "bluetooth_le_tracker"  ... my dongle still going off, more and more frequently :( :( :( :(

[2021-05-20 16:23] bluefoxlee commented on #352
I use the method 2, and as you mention. the remote work exactly the same as YLYK01YL. It shows M, Sun, On, Off, + and - ATM. Also tried hcidump, will post the log later after clean other message of it.

Yes, I think Yeelight ceding fan light comes with this remote. unfortunately, there is no any Information about the remote model. Will try to dis-assembly it tomorrow to see if I can find any thing

[2021-05-20 16:47] Ernst79 commented on #352
I’ll prepare a beta this weekend. I’ll try to make a fan_remote sensor which shows the names of the buttons. Can you tell me the meaning of each button (no idea what each button exactly does)

[2021-05-21 01:05] sakislad commented on #345
- platform: mitemp_bt
    mac: "4B:65:A6:DE:78:AF"
    name: Living Room
    force_update: true
    median: 1
    timeout: 15
    retries: 1
    adapter: hci0         -- this is my external Bluetooth as default...
    cache_value: 300
    monitored_conditions:
      - temperature
      - humidity
      - battery

[2021-05-21 01:09] sakislad commented on #345
Bluetooth has so many problems in rpi4, I want to replace the sensors with zigbee ones!
Basically I want to replace those sensors and my 3 xiaomi cameras and go with sonoff...

[2021-05-21 07:10] bluefoxlee commented on #352
The buttons:

| Buttons Left  | Buttons Right |
| ------------- | ------------- |
| Fan toggle  | Light toggle |
| Stand Wind speed toggle  | Color Temp. toggle |
| Natural Wind speed toggle  | Brightness toggle |

I have both 01YL and this unknown model. I disassemble them this morning.
not much found here, but interestingly the unknown model designed in 2012, and 01YL is 2016. The unknown model

[2021-05-21 07:20] rezmus commented on #352
it's a part of bigger product so i guess it does not have it's own model. just call it YLYK-FANCL like in the plugin. there is also similar remote for yeelight kitchen fan (pid 1254 YLYK-VENFAN). pretty sure sends same payloads as all such remotes.

https://post.smzdm.com/p/awxl0924/
https://am.zdmimg.com/201906/25/5d119e3567c4e3524.jpg_e680.jpg

btw: in separate remote "sun" button is actually co

[2021-05-21 07:40] Ernst79 commented on #352
I will use the following

YLYK01YL-FANCL
YLYK01YL-VENFAN
etc.

Will rename fan to color temperature..

Beta release will be released today (for YLYK01YL-FANCL).

[2021-05-21 07:59] Ernst79 commented on #352
2.2.0-beta has been released, please give it a try. There are no binary sensors for this fan remote. You can remove the old ones after a restart (also remove the old remote sensor, a new fan remote sensor will be new)

[2021-05-21 08:18] hamzboy99 opened #355 "No 'version' key in the manifest file for custom integration 'mitemp_bt'."
Logger: homeassistant.loader
Source: loader.py:794
First occurred: 9:40:28 (1 occurrences)
Last logged: 9:40:28

No 'version' key in the manifest file for custom integration 'mitemp_bt'. As of Home Assistant 2021.6, this integration will no longer be loaded. Please report this to the maintainer of 'mitemp_bt'

[2021-05-21 08:32] gogui63 commented on #353
Do you know how to get the encryption key without ceiling light ? I do not have any BT Xiaomi gateway and I can't connect to the dimmer directly

[2021-05-21 08:36] Ernst79 commented on #355
mitemp is a very old version. Our integration is now called ble_monitor. If you have the latest version of BLE monitor, you probably still have a left over from the old integration.

To fix it, delete the following folder: `\config\custom_components\mitemp_bt`, including its content.

[2021-05-21 08:38] Ernst79 commented on #353
Did you try method 6 in the [FAQ](https://github.com/custom-components/ble_monitor/blob/master/faq.md#how-to-get-the-mibeacon-v2v3-encryption-key)?

[2021-05-21 14:13] bluefoxlee commented on #352
Thanks!! It works and shows correct button name now. And nice call for remote naming.

[2021-05-21 14:40] #355 closed

[2021-05-21 14:41] hamzboy99 commented on #355
Update to latest version fixed the problem.

[2021-05-21 16:41] ikomtur opened #356 "[SOLVED] HCIdump thread: Runtime error while stop scan request on hci0: Event loop stopped before Future completed"
Hi all

I'm trying to add my LYWSD03MMC sensor but recieving this issue

Logger: custom_components.ble_monitor
Source: custom_components/ble_monitor/__init__.py:542
Integration: Passive BLE monitor (documentation, issues)
First occurred: 19:38:48 (1 occurrences)
Last logged: 19:38:48

HCIdump thread: Runtime error while stop scan request on hci0: Event loop stopped before Future completed.

Home A

[2021-05-21 16:45] Ernst79 commented on #356
Did you try this solution?

https://github.com/custom-components/ble_monitor/issues/167#issuecomment-739541674

[2021-05-21 16:49] ikomtur commented on #356
Yes. Executed it, restarted HA but got the same.

[2021-05-21 16:51] Ernst79 commented on #356
What kind of installation do you have? Venv, supervised or home assistant Os?

[2021-05-21 16:52] ikomtur commented on #356
supervised

[2021-05-21 17:32] ikomtur commented on #356
Iguess there is a problem when trying scan
`self._event_loop.run_until_complete(btctrl[hci].send_scan_request(self._active))`

when I run  `sudo hcitool lescan` I receive

`Set scan parameters failed: Connection timed out`

[2021-05-21 19:39] Ernst79 commented on #356
try the following commands

[code]
if this doesn't work or it hangs in DOWN status, try:

[code]

What is the result of this command?

[code]

and

[code]

[2021-05-21 19:46] rexbut commented on #353
I succeeded to retrieve the `beaconKey` using (https://github.com/archaron/docs/blob/master/BLE/ylkg08y.md) and [mikettle](https://github.com/drndos/mikettle) !!! The `beaconKey` has been encrypted with the token: https://github.com/rexbut/mikettle/commit/62ca322c28ebef529b79e04a197999388bbf5d23#diff-5af407bf9ddc11b895e682c5e87562faaf8fa639563795be12af8049765d03b7R239

[2021-05-21 19:52] rexbut commented on #353
@Ernst79 Do you think you can automate the recovery or do I have to write a script?

[2021-05-21 19:59] Ernst79 commented on #353
Well done. I think for now, it's the easiest to make a little script and a short explanation how to use it, I guess. I can put is somewhere here in the BLE monitor repo if you want and add the explanation in the FAQ. Just post it here and I will take care of it (or make a PR).

Perhaps later I can look into automating it, but that won't be shortly (as BLE monitor isn't designed to connect to anyth

[2021-05-21 20:05] Ernst79 commented on #352
2.2.0 has been released as final. Thanks for reporting back.

Will add the others later.

[2021-05-21 20:12] ikomtur commented on #356
Was triyng many solutions for 4 hours :)

I think its a hardware problem. There was a patch for similar dongles with the same id
https://gist.github.com/nevack/6b36b82d715dc025163d9e9124840a07

Will change my dongle tomorrow to another. If it will help so it will be a solution.

[2021-05-21 20:17] Ernst79 commented on #356
ok, let me know if it worked with the new dongle. Bluetooth (dongles) can be a pita.

[2021-05-21 23:47] rexbut commented on #353
It would be nice to add it to this repo.

Source: https://github.com/rexbut/mikettle/blob/master/get_beacon_key.py

[code]

[2021-05-22 00:27] rexbut commented on #353
The script works with "YLYK01YL" by setting `PRODUCT_ID = 339`:
[code]

[2021-05-22 07:15] Ernst79 commented on #353
Thanks. I’ll add instructions in FAQ, will use this as the preferred solution for legacy encryption.

[2021-05-22 07:36] rezmus commented on #353
@rexbut nice! you can add pid to cmd line params after mac.

[2021-05-22 08:52] viiy opened #358 "YLYK01YL"
all my YLYK01YL light remote switch to fan after last update. How can i fix it?

[2021-05-22 09:10] Ernst79 commented on #358
What do you mean by "switch to fan"?  which remote do you have, there are currently two types supported (YLYK01YL and YLYK01YL-FANRC), see the pictures in the supported sensors documentation. Which type do you have (based on the picture).

[2021-05-22 09:12] Ernst79 commented on #358
Oh, nevermind, I see the mistake. I'll update a.s.a.p.

[2021-05-22 09:16] Ernst79 commented on #358
2.2.2 has been released, should fix your problem. Please let me know if it's all OK after the update.

[2021-05-22 09:27] viiy commented on #358
already on 2.2.2 version.
ill try to readd all remotes later.

[2021-05-22 09:53] viiy commented on #358
hm.
i think something wrong with hacs;
 i was go to hacs page, and seen there update from 2.2.1 to 2.2.2 againg,  although i already updated to this version.
 after reupdate all fine.
 ty.

[2021-05-22 09:53] #358 closed

[2021-05-22 11:05] rexbut commented on #353
I just updated the script to take the `PRODUCT_ID` as a parameter.

[2021-05-22 11:07] rexbut commented on #353
Can anyone verify that the script works with YLKG07YL ?

[2021-05-22 11:10] Busyrev commented on #353
@rexbut trying it now. Will post here the result

[2021-05-22 12:00] Busyrev commented on #353
Tested with Yeelight Wireless Smart Dimmer Model: YLKG07YL Product Date:0806
It works
[code]

[2021-05-22 12:42] ikomtur commented on #356
SOLVED

With new dongle (https://www.asus.com/Networking-IoT-Servers/Adapters/All-series/USBBT400/) it works fine. So it was a problem with not original CSR chip.

[2021-05-22 12:42] #356 closed

[2021-05-22 12:55] stefangries opened #359 "Missing Bluetooth adapters on Version 2.2.2"
Running HassOS 6.0.RC2 / Supervisor 2021.05.1 / Core 2021.5.5
The new BLE Monitor 2.2.2 does not recognize the native onboard Bluetooth Adapter of my Intel NUC. Version 2.0.2 does.

**BLE Monitor 2.0.2**
![image](https://user-images.githubusercontent.com/10342151/119227288-63e73d80-bb0d-11eb-8493-444ea8eb21fa.png)

**BLE Monitor 2.2.2**
![image](https://user-images.githubusercontent.com/10342151/1

[2021-05-22 13:40] Ernst79 commented on #353
I've added instructions in the [FAQ](https://github.com/custom-components/ble_monitor/blob/master/faq.md#how-to-get-the-mibeacon-v2v3-encryption-key).

The script is placed [here](https://github.com/custom-components/ble_monitor/blob/master/custom_components/ble_monitor/ble_parser/get_beacon_key.py).

I added the other remotes as well, including one that will be added in a next release.

[2021-05-22 13:43] Ernst79 commented on #359
Could you show the output of `hciconfig`?

The code normally runs this command and extracts the MAC addresses, but I changed something recently in that part of the code. But I'm curious what the result of `hciconfig` shows.

[2021-05-22 13:50] stefangries commented on #359
[code]

[2021-05-22 13:51] Ernst79 commented on #359
I can reproduce your issue. Will look into it.

[2021-05-22 14:04] Ernst79 commented on #359
The quick fix:

in `\custom_components\ble_monitor\ble_parser\__init__.py`

change

[code]

to

[code]

Wil fix it in the next release.

[2021-05-22 14:08] Busyrev commented on #353
@Ernst79 I`m not using Home Assistant, but custom scripts for my home automation. Is there a simple way to run ble-monitor scripts to just output to stdout decrypted messages from dimmer?

[2021-05-22 14:21] Ernst79 commented on #353
No, currently not. There have been requests to make it available as a pypi package, but I didn't have time to do that. But the main decoding is done in `\custom_components\ble_monitor\ble_parser\xiaomi.py`. You could use aioblescan to get the raw BLE messages and write a script that does the parsing of these messages.

[2021-05-22 14:26] stefangries commented on #359
Thanks, seems to be working! 👍

[2021-05-22 14:31] Ernst79 commented on #359
Final solution will be slightly different, as you should normally have self in the function. But for now, it works

[2021-05-22 15:58] Ernst79 commented on #359
Could you please try version 2.3.0-beta and let me know if it works?

[2021-05-22 17:23] Ernst79 commented on #352
2.3.0-beta has added support for yLYK01YL-VENFAN.

The only missing remote is (YLYK01YL-)BHFRC: pid = 959, I have no idea which device this is?

RC probably stands for Remote Control, but don’t no where the abbreviation BHF is standing for?

[2021-05-22 17:27] rezmus commented on #352
@Ernst79 https://www.youtube.com/watch?t=600&v=PaNbnOg_NT8

[2021-05-22 17:32] Ernst79 commented on #352
Yeah, I just updated my previous post. But to add this, we first need someone with this remote to understand which button sends what bytes.

If anyone have this device, please help us by sending a hcidump.

[2021-05-22 18:14] bluefoxlee commented on #352
Quick translate for YLYB01YL.

| HEAT button  | Air exchange button| DRY button | Fan button |
| :-------------: | :-------------: | :-------------: | :-------------: |
| Swing | Wind speed -  | Wind speed + | Stop |
|| Light toggle ||

There are some discussion about this add-on and Yeelight 07YL/08YL remote on Chinese forum, I will try to post there to see if anyone have it and can help maybe.

[2021-05-22 18:18] Ernst79 commented on #352
Thanks, I just updated the script to get the [beaconkey](https://github.com/custom-components/ble_monitor/blob/master/faq.md#how-to-get-the-mibeacon-v2v3-encryption-key), so it can now also be used for this YLYB01YL device.

[2021-05-22 18:59] Busyrev commented on #353
Installed HA, added device and it works. It shows actions from dimmer. Full chain works great.

[2021-05-22 23:36] stefangries commented on #359
Seems to be working. Thanks!

[2021-05-23 07:47] Ernst79 commented on #359
Thanks. 2.3.0 has been released.

[2021-05-23 07:47] #359 closed

[2021-05-23 12:43] Fubi95 commented on #344
I already tried to collect data from my m1 using the `report unknown` option. Unfortunately I had no success. Maybe @Chriserus has more luck.

[2021-05-23 15:14] froggyfly commented on #352
I have this Bathroom Heater remote, but how to log it?

[2021-05-23 16:25] Ernst79 commented on #352
I’ll prepare a special version for you, which logs automatically. Give me an hour

[2021-05-23 17:31] Ernst79 commented on #352
@froggyfly

- Please install version 2.4.0-beta (enable beta versions in HACS).
- Make sure you configure your MAC and encryption key, which can be found with method 5 in the [FAQ](https://github.com/custom-components/ble_monitor/blob/master/faq.md#how-to-get-the-mibeacon-v2v3-encryption-key)
- After the restart, press a button, this should (hopefully) create a sensor entity (`ble_bathroom_heater_

[2021-05-23 21:38] sakislad commented on #345
I'm trying another workaround...
Tried to power off and on  the Bluetooth controller, once stopped working and that worked.
So I create an automation that every 15 minutes runs two shell commands, first: Bluetoothctl power off and next: Bluetooth CTL power on....
I thing this is a very good workaround for me as I don't use the Bluetooth controller for anything else and I thing it will work. At lea

[2021-05-23 23:22] froggyfly commented on #352
ok, I'll log it this evening.

[2021-05-24 02:20] pvvx commented on #167
If you set "Period" to "0", you will receive many error messages described in this issue.
![image](https://user-images.githubusercontent.com/12629515/119287598-6baefb00-bc4f-11eb-99d3-009e066c42d9.png)
Regardless of platform type and BT adapter.

[2021-05-24 02:49] pvvx opened #361 "Update rate and RuntimeError: Event loop stopped before Future completed."
I need to receive all packages with the maximum data update rate.
But that doesn't work in ble_monitor.
In the working environment of radio broadcasting, BT adapters receive more than several hundred advertising packets per second from dozens of BLE sensors.
Setting the period to "0" in the log, 'ble_monitor' generates many errors (RuntimeError: Event loop stopped before Future completed) per hour

[2021-05-24 09:14] Ernst79 commented on #361
@pvvx Let me first try to explain how BLE monitor works.

- In `__init__.py` we use the pypi package [aioblescan](https://github.com/frawau/aioblescan) to make a HCIdump of BLE advertisements.
- Each received BLE advertisement is passed to the `ble_parser` procedure (in `\ble_parser\__init__.py`), where we three or 4 bytes (including the UUID) to see if it is supported, the rest is ignored.
- If t

[2021-05-24 09:40] Ernst79 commented on #345
I think that is a good workaround. Perhaps it would even be possible to do a check on the status of Bluetooth, and if down, power on Bluetooth.? Can you share your script?

[2021-05-24 09:44] Ernst79 commented on #167
See #361 for my response

[2021-05-24 10:09] vini59fr commented on #345
Could be a good news, thanks for your help

[2021-05-24 12:14] sakislad commented on #345
In configuration.yaml i put those shell_commands:
**shell_command:
  turn_bluetooth_off: 'ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -i /config/.ssh/id_rsa root@127.0.0.1 sudo bluetoothctl power off'
  turn_bluetooth_on: 'ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -i /config/.ssh/id_rsa root@127.0.0.1 sudo bluetoothctl power on'**

Then I prepare the ssh l

[2021-05-24 13:21] Ernst79 opened #362 "Rolling mean averaging of data"
Currently BLE monitor is using a mean (or median) value that is based on the data of the last period (default 60 seconds). Each period, this average is calculated again.

An alternative is using a rolling average. This has the advantage that we can start showing a value from the first measurement (e.g. after a restart of HA) and we don't necessary have to wait till the end of the first period.

I